<ul class="collection list" [class.with-header]="!!title">
    <li *ngIf="title" class="collection-header"><h4>{{title}}</h4></li>
    <li href="#!" class="collection-item avatar" *ngFor="let leaguePlayer of leaguePlayers" (click)="onLeaguePlayerClicked(leaguePlayer)">
        <league-summary *ngIf="displayLeagues" [league]="leaguePlayer.league" [rating]="leaguePlayer.rating" [ranking]="leaguePlayer.ranking"></league-summary>
        <player-summary *ngIf="displayPlayers" [player]="leaguePlayer.player" [rating]="leaguePlayer.rating" [ranking]="leaguePlayer.ranking"></player-summary>
    </li>
    <li *ngIf="leaguePlayers?.length == 0" class="collection-item empty">
        <h5 *ngIf="displayLeagues">No leagues</h5>
        <h5 *ngIf="displayPlayers">No players</h5>
    </li>
    <li *ngIf="leaguePlayers?.length > 0 && this.detailsPath"  href="#!" class="collection-item empty" (click)="onDetailsClicked()">
        <h5>See more</h5>
    </li>
    <li *ngIf="pages?.length > 1">
        <ul class="pagination center">
            <li [class.disabled]="currentPage === 1" class="waves-effect"><a (click)="setCurrentPage(currentPage - 1)"><i class="material-icons">chevron_left</i></a></li>
            <li *ngFor="let page of pages;" [class.active]="page == currentPage" class="waves-effect"><a (click)="setCurrentPage(page)">{{page}}</a></li>
            <li [class.disabled]="currentPage === pageCount" class="waves-effect"><a (click)="setCurrentPage(currentPage + 1)"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </li>
</ul>