<div class="league-player-list" [class.with-header]="!!title">
    <h4 *ngIf="title" class="league-player-list__heading">{{title}}</h4>


    <a href="#!" class="league-player-list__item" *ngFor="let leaguePlayer of leaguePlayers"
       (click)="onLeaguePlayerClicked(leaguePlayer, $event)">
        <league-summary *ngIf="displayLeagues" [league]="leaguePlayer.league" displayPlayBtn="displayPlayBtn" [rating]="leaguePlayer.rating"
                        [ranking]="leaguePlayer.ranking"></league-summary>
        <player-summary *ngIf="displayPlayers" [player]="leaguePlayer.player" [rating]="leaguePlayer.rating"
                        [ranking]="leaguePlayer.ranking"></player-summary>
    </a>
    <h5 *ngIf="leaguePlayers?.length == 0" class="collection-item empty">
        {{displayLeagues ? 'No leagues' : displayPlayers ? 'No players' : ''}}
    </h5>
    <a *ngIf="leaguePlayers?.length > 0 && this.detailsPath" href="#!" class="collection-item empty grey-text darkened-4"
       (click)="onDetailsClicked($event)">
        <h5>{{seeMoreText}}</h5>
    </a>

    <ul class="pagination center" *ngIf="pages?.length > 1">
        <li [class.disabled]="currentPage === 1" class="waves-effect"><a (click)="setCurrentPage(currentPage - 1)"><i
                class="material-icons">chevron_left</i></a></li>
        <li *ngFor="let page of pages;" [class.active]="page == currentPage" class="waves-effect"><a
                (click)="setCurrentPage(page)">{{page}}</a></li>
        <li [class.disabled]="currentPage === pageCount" class="waves-effect"><a (click)="setCurrentPage(currentPage + 1)"><i
                class="material-icons">chevron_right</i></a></li>
    </ul>
</div>