<ul class="collection list" [class.with-header]="!!title">
    <li *ngIf="title" class="collection-header"><h4>{{title}}</h4></li>
    <li href="#!" class="collection-item avatar" *ngFor="let leaguePlayer of leaguePlayers" (click)="onLeagueClicked(leaguePlayer)">
        <league-summary *ngIf="displayLeagues" [league]="leaguePlayer.league" [rating]="leaguePlayer.rating" [ranking]="leaguePlayer.ranking"></league-summary>
        <player-summary *ngIf="displayPlayers" [player]="leaguePlayer.player" [rating]="leaguePlayer.rating" [ranking]="leaguePlayer.ranking"></player-summary>
    </li>
    <li *ngIf="leaguePlayer?.length == 0" class="collection-item empty">
        <h5>No leagues</h5>
    </li>
</ul>