@import "../../mixins";

.league-summary {
  .summary-list-mixin;

  &__ranking {
    flex-grow: 0;
    width: 30px;
    text-align: left;
  }

  &__avatar {
    flex-grow: 0;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
  } 

  &__name {
    flex-grow: 1;
    text-overflow: ellipsis;
  }

  &__rating {
    flex-grow: 0;
    width: 50px;
    text-align: right;
  }

  &__play {
    i {
      vertical-align: middle;
      width: 40px;
      text-align: right;
      color: #4CAF50
    }
  }
}
