img {
  width: 100px;
  height: 100px;
  max-width: 100%;
}

:host-context(.collection .collection-item.avatar ) div.secondary-content.ranking-badges {
  top: 0;
  height: 100%;
}

.secondary {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.badges-container {
  display: flex;
}

span.badge {
  margin-left: 0;
  width: 50%;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
