<ng-template [ngIf]="league == null">
    <loading></loading>
</ng-template>
<ng-template [ngIf]="league != null">
    <!--<div class="league-summary">
        <img src="{{league.imageUrl}}" alt="{{league.name}}" class="circle">
        <div class="primary">
            <span class="title">{{league.name}}</span>
            <p class="grey-text darken-3">{{league.description}}</p>
        </div>
        <div class="secondary" *ngIf="ranking > 0">
            <div class="badges-container">
                <span class="badge light-blue darken-4 white-text">{{ranking}}<small>{{rankingText()}}</small></span>
                <span class="badge grey darken-1 white-text"><small class="rating-points">{{ratingPoints()}}</small></span>
            </div>
            <a class="waves-effect waves-light btn green" *ngIf="displayPlayBtn" (click)="onPlayClicked($event)"><i class="material-icons center">play_arrow</i>Play</a>
        </div>
    </div>-->

    <div class="league-summary">
        <img src="{{league.imageUrl}}?size=42" alt="{{league.name}}" class="league-summary__avatar">

        <div class="league-summary__name">{{league.name}}</div>
        <div class="league-summary__ranking" *ngIf="ranking > 0">{{ranking}}<span>{{rankingText()}}</span></div>
        <div class="league-summary__rating" *ngIf="rating > 0">{{ratingPoints()}}</div>
        <a *ngIf="displayPlayBtn" class="league-summary__play" (click)="onPlayClicked($event)"><i class="material-icons">play_arrow</i></a>
        <!-- <div class="primary">
             <span class="title">{{player.name}}</span>&lt;!&ndash;
             <p *ngIf="player.description" class="grey-text darken-3">{{player.description}}</p>&ndash;&gt;
         </div>-->
        <!--<div class="player-summary__" *ngIf="ranking > 0">
            <div class="badges-container">

                <span class="badge grey darken-1 white-text"><small class="rating-points">{{ratingPoints()}}</small></span>
            </div>
        </div>-->
    </div>
</ng-template>
