img {
  width: 42px;
  height: 42px;
  float: right;
}

.league-summary {
  display: flex;
}

.primary {
  flex-grow: 1;
}

.secondary {
  display: flex;
  flex-direction: column;
  height: 60px;
  margin-left: auto;
}

.badges-container {
  display: flex;
  .rating-points {
    vertical-align: middle;
  }
}

span.badge {
  margin-left: 0;
  width: 50%;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: auto;
  height: 24px;
  line-height: 24px;
}
