@import "../../z-index";

img {
  width: 16vw;
  height: 16vw;
}

img.player-squared {
  border-radius: 5px;
}

.player {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;

  img {
    background-color: #eeeeee;
  }

}

.player-select-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: @z-index-modal;
}
