<div class="new-game-player">
    <ng-template [ngIf]="player == null">
        <div class="new-game-player__player" (click)="onNewPlayerClicked()">
            <img class="new-game-player__avatar" src="{{questionMarkImg()}}" alt="Select a player">
            <span class="new-game-player__player-title">Select a player</span>
        </div>
    </ng-template>

    <ng-template [ngIf]="player != null">
        <div class="new-game-player__player" (click)="onNewPlayerClicked()">
            <img class="new-game-player__avatar" src="{{player.imageUrl}}?size=200" alt="{{player.name}}">
            <span class="new-game-player__player-title">{{player.name}}</span>
        </div>
    </ng-template>
</div>
