img {
  width: 20vh;
  height: 20vh;
}

img.player-squared {
  border-radius: 5px;
}

.player {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;

  img {
    background-color: #eeeeee;
  }

}

.player-select-modal {
  overflow-y: hidden;
}
