<template [ngIf]="league == null">
    <h4>Loading...</h4>
</template>
<template [ngIf]="league != null">

    <div class="row">
        <div class="col s12 m12 l8">
            <league-summary [league]="league"></league-summary>
        </div>
        <div *ngIf="playerInLeague" class="col s6 m4" (click)="onPlayClicked()">
            <a class="waves-effect waves-light btn green"><i class="material-icons right">play_arrow</i>Play Game</a>
        </div>
        <div *ngIf="authService.isAuthenticated() && !playerInLeague" class="col s6 m4" (click)="onJoinClicked()">
            <a class="waves-effect waves-light btn green">Join</a>
        </div>
        <div *ngIf="adminInLeague" class="col s6 m4" (click)="onEditClicked()">
            <a class="waves-effect waves-light btn green">Edit</a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 l5 push-l7 no-margin">
            <ul class="row list">
                <li class="col s12 m6 l12">
                    <league-player-list title="Top players" displayPlayers="true"
                                        [leaguePlayers]="league.leaguePlayers"
                                        [detailsPath]="['leagues', league.name.toLowerCase(), 'players']"></league-player-list>
                </li>
                <li class="col s12 m6 l12">
                    <league-team-list title="Top teams" displayTeams="true"
                                      [leagueTeams]="league.leagueTeams"
                                      [detailsPath]="['leagues', league.name.toLowerCase(), 'teams']"></league-team-list>
                </li>
            </ul>
        </div>
        <div class="col s12 l7 pull-l5">
            <game-list [title]="'Latest games'"
                       [games]="league.games"></game-list>
        </div>
    </div>

</template>
