<template [ngIf]="league == null">
    <loading></loading>
</template>
<template [ngIf]="league != null">

 <!--   <div class="row league-profile">
        <div class="col s12 m12 l12">
            <league-summary [league]="league"></league-summary>
        </div>
    </div>-->


    <div class="row league-profile__details">

        <div class="col s4">
            <img src="{{league.imageUrl}}?size=200" class="league-profile__avatar" alt="{{league.name}}">
        </div>
        <div class="col s8">
            <div class="league-profile__name-wrapper">
                <span class="league-profile__name">{{league.name}}</span>
             </div>
            <div class="league-profile__description">{{league.description}}</div>
            <div class="league-profile__stats" *ngIf="league.stats">
                <div class="league-profile__player-count" *ngIf="league.stats.playerCount > 0">{{format(league.stats.playerCount, '', 'player', 'players')}}</div>
                <div class="league-profile__team-count" *ngIf="league.stats.teamCount > 0">{{format(league.stats.teamCount, '', 'team', 'teams')}}</div>
                <div class="league-profile__game-count" *ngIf="league.stats.gameCount > 0">{{format(league.stats.gameCount, '', 'game', 'games')}}</div>
            </div>

        </div>
      <!--
        <img src="{{league.imageUrl}}" class="league-profile__avatar" alt="{{league.name}}">
        <div class="primary">
            <span class="title">{{league.name}}</span>
            <p class="grey-text darken-3">{{league.description}}</p>
        </div>
        <div class="secondary" *ngIf="ranking > 0">
            <div class="badges-container">
                <span class="badge light-blue darken-4 white-text">{{ranking}}<small>{{rankingText()}}</small></span>
                <span class="badge grey darken-1 white-text"><small class="rating-points">{{ratingPoints()}}</small></span>
            </div>
            <a class="waves-effect waves-light btn green" *ngIf="displayPlayBtn" (click)="onPlayClicked()"><i class="material-icons center">play_arrow</i>Play</a>
        </div>-->
    </div>

    <div class="row league-profile__play">
        <div *ngIf="playerInLeague" class="center" (click)="onPlayClicked()">
            <a class="waves-effect waves-light btn global__btn global__btn--play"><i class="material-icons left">play_arrow</i>Play Game</a>
        </div>
        <div *ngIf="!playerInLeague" class="center" (click)="onJoinClicked()">
            <a class="waves-effect waves-light btn global__btn global__btn--play"><i class="material-icons left">stars</i>Join this league</a>
        </div>
    </div>

    <div *ngIf="adminInLeague" class="fixed-action-btn">
        <a class="btn-floating btn-large light-blue lighten-2">
            <i class="material-icons">menu</i>
        </a>
        <ul>
            <li (click)="onAddPlayerClicked()"><a class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="material-icons">add</i></a></li>
            <li (click)="onEditClicked()"><a class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="material-icons">mode_edit</i></a></li>
        </ul>
    </div>


    <div class="row">
        <div class="col s12">
            <template [ngIf]="activeGames.length > 0">
                <game-list [title]="'Active games'"
                           [games]="activeGames"></game-list>
            </template>

        </div>
    </div>


    <div class="row">
        <league-player-list title="Top players" displayPlayers="true"
                            [leaguePlayers]="league.leaguePlayers"
                            [detailsPath]="['leagues', league.name.toLowerCase(), 'players']"
                            [seeMoreText]="'See full player ranking'"></league-player-list>
    </div>

    <div class="row">
        <league-team-list title="Top teams" displayTeams="true"
                          [leagueTeams]="league.leagueTeams"
                          [detailsPath]="['leagues', league.name.toLowerCase(), 'teams']"
                          [seeMoreText]="'See full team ranking'"></league-team-list>
    </div>
<!--
    <div class="row">
        <div class="col s12">
            <ul class="row list">
               &lt;!&ndash; <li class="col s12">
                    <league-player-list title="Top players" displayPlayers="true"
                                        [leaguePlayers]="league.leaguePlayers"
                                        [detailsPath]="['leagues', league.name.toLowerCase(), 'players']"
                                        [seeMoreText]="'See full player ranking…'"></league-player-list>
                </li>&ndash;&gt;
                <li class="col s12">

                </li>
                &lt;!&ndash;<li class="col s12 m6 l12">&ndash;&gt;
                &lt;!&ndash;<div class="card">&ndash;&gt;
                &lt;!&ndash;<div class="card-content">&ndash;&gt;
                &lt;!&ndash;<p>League rules.</p>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</li>&ndash;&gt;

            </ul>
        </div>

    </div>-->



    <div class="row">
        <game-list [title]="'Latest games'"
                   [games]="league.games"
                   [detailsPath]="['leagues', league.name.toLowerCase(), 'games']"></game-list>
    </div>


    <div class="modal center player-select-modal" materialize="modal"
         [materializeParams]="[{dismissible: true, inDuration: 100, outDuration: 100}]" [materializeActions]="materializeActions">
        <div class="modal-content">
            <h4 class="center">Select a player</h4>
            <player-select [playerIds]="nonMembersPlayerIds" (playerSelected)="onSelected($event)"></player-select>
        </div>
    </div>
</template>

