<ng-template [ngIf]="league == null && !connectionError">
    <loading></loading>
</ng-template>
<ng-template [ngIf]="league == null && connectionError">
    <connection-error></connection-error>
</ng-template>
<ng-template [ngIf]="league != null">

    <div class="row league-profile__details">

        <img src="{{league.imageUrl}}?size=200" class="league-profile__avatar" alt="{{league.name}}">
        <div class="league-profile__info">
            <div class="league-profile__name-wrapper">
                <span class="league-profile__name">{{league.name}}</span>
             </div>
            <div class="league-profile__description">{{league.description}}</div>
            <div class="league-profile__stats" *ngIf="league.stats">
                <div class="league-profile__player-count" *ngIf="league.stats.playerCount > 0">{{format(league.stats.playerCount, '', 'player', 'players')}}</div>
                <div class="league-profile__team-count" *ngIf="league.stats.teamCount > 0">{{format(league.stats.teamCount, '', 'team', 'teams')}}</div>
                <div class="league-profile__game-count" *ngIf="league.stats.gameCount > 0">{{format(league.stats.gameCount, '', 'game', 'games')}}</div>
            </div>

        </div>
    </div>

    <div class="row league-profile__play">
        <div *ngIf="playerInLeague" class="center">
            <a class="waves-effect waves-light btn global__btn global__btn--play" (click)="onPlayClicked()"><i class="material-icons left">play_arrow</i>Play Game</a>
        </div>
        <div *ngIf="userAuthenticated && !playerInLeague && !joinLeagueRequested" class="center">
            <a class="waves-effect waves-light btn global__btn global__btn--play" (click)="onJoinClicked()" [attr.disabled]="online?null:true"><i class="material-icons left">stars</i>Join this league</a>
        </div>
        <div *ngIf="!playerInLeague && joinLeagueRequested" class="center">
            <a class="waves-effect waves-light btn global__btn global__btn--pending" (click)="checkPendingRequest()"><i class="material-icons left">more_horiz</i>Waiting for approval</a>
        </div>
    </div>

    <div *ngIf="adminInLeague || playerSystemAdmin" class="fixed-action-btn click-to-toggle">
        <a class="btn-floating btn-large light-blue lighten-2">
            <i class="material-icons">more_vert</i>
        </a>
        <ul>
            <li *ngIf="playerSystemAdmin"><a class="btn-floating purple" (click)="onRankingRefreshClicked()" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;" [attr.disabled]="online?null:true"><i class="material-icons">poll</i></a></li>
            <li><a class="btn-floating green" (click)="openAddPlayerModal()" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;" [attr.disabled]="online?null:true"><i class="material-icons">person_add</i></a></li>
            <li><a class="btn-floating blue" (click)="onEditClicked()" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;" [attr.disabled]="online?null:true"><i class="material-icons">mode_edit</i></a></li>
            <li *ngIf="playerInLeague || joinLeagueRequested"><a class="btn-floating red" (click)="onLeaveClicked()" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;" [attr.disabled]="online?null:true"><i class="material-icons">directions_run</i></a></li>
            <li><a class="btn-floating red" (click)="openLeagueDeleteDialog()" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;" [attr.disabled]="online?null:true"><i class="material-icons">delete</i></a></li>
        </ul>
    </div>
    <div *ngIf="!adminInLeague && (playerInLeague || joinLeagueRequested)" class="fixed-action-btn">
        <a (click)="onLeaveClicked()" class="btn-floating btn-large waves-effect waves-light red" [attr.disabled]="online?null:true"><i class="material-icons">directions_run</i></a>
    </div>

    <div class="row">
        <div class="col s12">
            <ng-template [ngIf]="activeGames.length > 0">
                <game-list [title]="'Active games'"
                           [games]="activeGames"></game-list>
            </ng-template>

        </div>
    </div>


    <div class="row">
        <league-player-list title="Top players" displayPlayers="true"
                            [leaguePlayers]="league.leaguePlayers"
                            [detailsPath]="['leagues', league.name.toLowerCase(), 'players']"
                            [seeMoreText]="'See full player ranking'"
                            [allowRemove]="adminInLeague && online" (removePlayer)="openRemovePlayerDialog($event)"
                            (approvePlayer)="openApproveOrRejectPlayerDialog($event)"></league-player-list>
    </div>

    <div class="row">
        <league-team-list title="Top teams" displayTeams="true"
                          [leagueTeams]="league.leagueTeams"
                          [detailsPath]="['leagues', league.name.toLowerCase(), 'teams']"
                          [seeMoreText]="'See full team ranking'"></league-team-list>
    </div>
    <div class="row">
        <game-list [title]="'Latest games'"
                   [games]="league.games"
                   [detailsPath]="['leagues', league.name.toLowerCase(), 'games']"></game-list>
    </div>

<!--    <div class="modal center" materialize="modal" [materializeParams]="[{dismissible: true, inDuration: 100, outDuration: 100}]"
         [materializeActions]="materializeActionsRemove">
        <div class="modal-content">
            <h5 class="center">Remove player</h5>
            <p>You are about to remove player '<strong>{{removePlayer?.name}}</strong>' from this league (<strong>{{league.name}}</strong>).</p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect btn-flat grey lighten-1 left">Cancel</a>
            <a (click)="onConfirmRemoveClicked()" class="modal-action modal-close waves-effect btn-flat red white-text">Remove</a>
        </div>
    </div>

    <div class="modal center" materialize="modal" [materializeParams]="[{dismissible: true, inDuration: 100, outDuration: 100}]"
         [materializeActions]="materializeActionsApprove">
        <div class="modal-content">
            <h5 class="center">Join League Request</h5>
            <p>Player '<strong>{{approvePlayer?.name}}</strong>' has requested to join this league (<strong>{{league.name}}</strong>).</p>
        </div>
        <div class="modal-footer">
            <a (click)="onConfirmPlayerJoin(true)" class="modal-action waves-effect btn-flat green white-text left">Allow</a>
            <a (click)="onConfirmPlayerJoin(false)" class="modal-action waves-effect btn-flat red white-text">Deny</a>
        </div>
    </div>

    <div class="modal center" materialize="modal" [materializeParams]="[{dismissible: true, inDuration: 100, outDuration: 100}]"
         [materializeActions]="materializeActionsPending">
        <div class="modal-content">
            <h5 class="center">Join League Requested</h5>
            <p>A request for joining this league has been sent to the league administrators.
                You will be notified by email as soon as the petition is resolved.</p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat green white-text">Ok</a>
        </div>
    </div>
    <div class="modal center" materialize="modal" [materializeParams]="[{dismissible: true, inDuration: 100, outDuration: 100}]"
         [materializeActions]="materializeActionsDelete">
        <div class="modal-content">
            <h5 class="center">Delete league</h5>
            <p>You are about to delete this league (<strong>{{league.name}}</strong>). <strong>This operation cannot be undone.</strong></p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect btn-flat grey lighten-1 left">Cancel</a>
            <a (click)="onConfirmDeleteClicked()" class="modal-action modal-close waves-effect btn-flat red white-text">Delete</a>
        </div>
    </div>-->
    <div class="modal center" materialize="modal" [materializeParams]="[{dismissible: true, inDuration: 100, outDuration: 100}]"
         [materializeActions]="materializeActionsLeave">
        <div class="modal-content">
            <h5 class="center">Leave league</h5>
            <p>You are about to leave this league (<strong>{{league.name}}</strong>).</p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect btn-flat grey lighten-1 left">Cancel</a>
            <a (click)="onConfirmLeaveClicked()" class="modal-action modal-close waves-effect btn-flat red white-text">Leave</a>
        </div>
    </div>
    <div class="modal center" materialize="modal" [materializeParams]="[{dismissible: true, inDuration: 100, outDuration: 100}]"
         [materializeActions]="materializeActionsRegenerateRanking">
        <div class="modal-content">
            <h5 class="center">Regenerate league ranking</h5>
            <p>Are you sure you want to regenerate '<strong>{{league.name}}</strong>' league's ranking?</p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect btn-flat grey lighten-1 left">No</a>
            <a (click)="onConfirmRegenerateClicked()" class="modal-action modal-close waves-effect btn-flat red white-text">Yes</a>
        </div>
    </div>

</ng-template>

