/* You can add global styles to this file, and also import other style files */

html {
  min-height: 100%;
  position: relative;

  body {
    background-color: #eee;

    #page {
      margin-top: 80px;
    }

    .block {
      margin-bottom: 20px;
    }

    .list {
      padding: 0;
      list-style: none;
      margin-bottom: 0;
    }

    .index {
      line-height: 48px;
      font-size: 32px;
      margin-right: 20px;
      min-width: 40px;
      color: #ccc;
      text-align: right;
    }

    .avatar {
      font-size: 48px;
      margin-right: 20px;
    }

  }
}