/* You can add global styles to this file, and also import other style files */

html {
  min-height: 100%;
  position: relative;

  body {
    background-color: #eee;
  }
}

.no-margin {
  & > ul {
    margin: 0;
  }
}

.collection {

  &.list {

    .collection-item {
      min-height: 64px;

      &.empty {

        h5 {
          text-align: center;
          margin: 0;
          line-height: 44px;
        }
      }
    }
  }

  &.indexed {

    .collection-item.avatar {
      padding-left: 117px;

      .index {
        position: absolute;
        left: 15px;
        font-size: 18px;
        line-height: 42px;
        display: inline-block;
        min-width: 30px;
        color: #999;
        text-align: right;
      }

      .circle {
        left: 60px;
      }
    }

  }
}