<ng-template [ngIf]="game == null">
    <div class="empty-text blue-grey-text">Loading...</div>
</ng-template>
<ng-template [ngIf]="game != null">


    <div class="game-points">

        <div *ngFor="let entry of timeline" class="game-points__item">
            <div class="game-points__score">
                <ng-template [ngIf]="!entry.isComment">
                    <span>{{entry.score}}</span>
                </ng-template>
                <ng-template [ngIf]="entry.isComment">
                    <i class="material-icons white-text text-lighten-3">comment</i>
                </ng-template>
            </div>
            <img *ngIf="entry.imageUrl" src="{{entry.imageUrl}}?size=200" class="game-points__avatar game-points__avatar--{{entry.side}}"/>
            <div class="game-points__event">
                <div class="game-points__comment">{{entry.text}}</div>
            </div>
            <div class="game-points__time">{{entry.time}}</div>
        </div>
    </div>

    <!--<div class="row list">
        <div class="col s12 m12 l10 offset-l1">
            <div class="header">Timeline</div>
            <section class="timeline">
                <div *ngFor="let entry of timeline" class="block team-{{entry.side}} {{entry.isComment?'comment':''}}">
                    <div class="time">
                        <ng-template [ngIf]="!entry.isComment">
                            <span class="fix">{{entry.score}}</span>
                        </ng-template>
                        <ng-template [ngIf]="entry.isComment">
                            <i class="material-icons blue-text text-lighten-3">comment</i>
                        </ng-template>
                    </div>
                    <div class="description">
                        <img *ngIf="entry.imageUrl" src="{{entry.imageUrl}}?size=200" class="circle timeline__avatar"/>
                        <div class="description-details">
                            <div class="name">{{entry.name}}</div>
                            <div class="team">{{entry.teamName}}</div>
                            <div class="comment">{{entry.text}}</div>
                        </div>
                        <div class="score">{{entry.time}}</div>
                    </div>
                </div>
            </section>

        </div>
    </div>-->

</ng-template>
