.game-points {
  padding: 1rem 0;

  &:before {
    display: block;
    position: absolute;
    content: ' ';
    height: 100%;
    width: 2px;
    left: 50%;
    margin: 0 0 0 -1px;
    background: #aaa;
  }

  .point {
    text-align: center;
  }

  .time {
    width: 3rem;
    height: 3rem;
    border: 2px solid #aaa;
    border-radius: 50%;
    background: white;
  }
}

