@import "../app/colors";

.global {
  &__btn {
    &--play {
      background-color: @action-color;

      &.btn.disabled {
        background-color: #BFBFBF !important;
        color: #8F8F8F !important;
      }
    }

    &--shuffle {
      background-color: #000;
      &.btn.disabled {
        background-color: #BFBFBF !important;
        color: #8F8F8F !important;
      }
    }

    &--toggle {
      background-color: #fff;
      color: #000;
    }

    &--pending {
      background-color: #ff9800;
    }

  }

  &__btn-small {
    height: 32px;
    line-height: 26px;
    padding: 0 0.5rem;
  }
}