@import "../app/colors";

.global__search {
  position: relative;
  width: ~"calc(100% - 40px)";
  margin: 0 auto;
  color: @main-theme-color;

  &-input {
    border: none !important;
    box-sizing: border-box !important;
    background-color: #fff !important;
    // remove important when overriding materialize stuff is removed

    input& {
      font-size: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: inherit;
    }

    &:focus {
      background-color: #eee;
    }
  }

  &-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}