<ng-template [ngIf]="game == null">
    <loading></loading>
</ng-template>
<ng-template [ngIf]="game != null">

    <div class="game-summary">
        <img src="{{game.league.imageUrl}}" alt="{{game.league.name}}" class="game-summary__avatar">
        <div class="game-summary__sides">
            <div class="game-summary__side">
                <ng-template [ngIf]="blueTeam">
                    {{blueTeam.team.name}}
                </ng-template>
                <ng-template [ngIf]="!blueTeam">
                    {{bluePlayers[0]?.player.name}}
                </ng-template>
            </div>
            <div class="game-summary__side">
                <ng-template [ngIf]="redTeam">
                    {{redTeam.team.name}}
                </ng-template>
                <ng-template [ngIf]="!redTeam">
                    {{redPlayers[0]?.player.name}}
                </ng-template>
            </div>
        </div>
        <ng-template [ngIf]="!game.finished">
            <div class="game-summary__live">
                <span class="game-summary__live--text">Live</span>
            </div>
        </ng-template>
        <div class="game-summary__result">
            <div class="">{{blueScore}}</div>
            <div class="">{{redScore}}</div>
        </div>
    </div>

</ng-template>
