<div class="row">
    <!--<div class="col s12 center blue-grey lighten-3 indigo-text text-darken-2">
        <div class="league-header">
            <template [ngIf]="league != null">
                <img src="{{league.imageUrl}}?size=42" alt="{{league.name}}" class="league-logo">
            </template>
            <h4>{{title}}</h4>
        </div>
    </div>-->

    <div class="col s12 participants">
        <div class="side side-blue">

            <new-game-player [player]="bluePlayer1" [leaguePlayerIds]="leaguePlayerIds" [selectedPlayerIds]="selectedPlayerIds"
                             [sideClass]="'side-blue'"
                             (animationFinished)="onPlayerAnimationFinished($event)"
                             (playerSelected)="onPlayerSelected('blue1', $event)"></new-game-player>

            <new-game-player [player]="bluePlayer2" [leaguePlayerIds]="leaguePlayerIds" [selectedPlayerIds]="selectedPlayerIds"
                             [sideClass]="'side-blue'"
                             (animationFinished)="onPlayerAnimationFinished($event)"
                             (playerSelected)="onPlayerSelected('blue2', $event)"></new-game-player>

        </div>
        <h5 class="center grey-text text-darken-3 vs">VS</h5>
        <div class="side side-red">

            <new-game-player [player]="redPlayer1" [leaguePlayerIds]="leaguePlayerIds" [selectedPlayerIds]="selectedPlayerIds"
                             [sideClass]="'side-red'"
                             (animationFinished)="onPlayerAnimationFinished($event)"
                             (playerSelected)="onPlayerSelected('red1', $event)"></new-game-player>

            <new-game-player [player]="redPlayer2" [leaguePlayerIds]="leaguePlayerIds" [selectedPlayerIds]="selectedPlayerIds"
                             [sideClass]="'side-red'"
                             (animationFinished)="onPlayerAnimationFinished($event)"
                             (playerSelected)="onPlayerSelected('red2', $event)"></new-game-player>

        </div>
    </div>

</div>

<div class="row" *ngIf="playerSelectionReady">
    <div class="col s12 new-game-actions">
        <a class="waves-effect waves-light btn light-blue accent-4" (click)="onShuffleClicked()" [class.disabled]="shuffleDisabled">Shuffle</a>
        <a class="waves-effect waves-light btn green" (click)="onPlayClicked()">Play</a>
    </div>
</div>