@import "../../colors";

@mobile-portrait: ~"only screen
    and (orientation: portrait)";

@landscape: ~"only screen
    and (orientation: landscape)";

.new-game {
  &__container {
    display: flex;

    @media @landscape {
      flex-direction: row;
    }
    @media @mobile-portrait {
      flex-direction: column;
    }
  }

  &__selection {
    @media @landscape {
      flex: .6;
    }
    @media @mobile-portrait {
    }
  }

  &__actions {
    @media @landscape {
      flex: .4;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    @media @mobile-portrait {
    }

    &--team-toggle {
      &.switch label input[type=checkbox]:checked+.lever {
        //background-color: #fa3;
        //background-color: #84c7c1;
        background-color: #00b0fb;
      }

      &.switch label input[type=checkbox]:checked+.lever:after {
        //background-color: #f93;
        //background-color: #26a69a;
        background-color: #0092f8;
      }
      &.switch label input[type=checkbox][disabled]+.lever:after, .switch label input[type=checkbox][disabled]:checked+.lever:after {
        background-color: #BDBDBD;
      }

      label {
        font-size: 1rem;
        color: #fff;
        text-transform: uppercase;
      }
    }

    .row {

      @media (max-width: 600px) and (orientation: landscape) {
        margin-bottom: 10px;
      }

      @media (max-width: 320px) and (orientation: portrait) {
        margin-bottom: 10px;
      }

      @media (min-width: 601px) and (max-width: 667px) and (orientation: landscape) {
        margin-bottom: 14px;
      }
    }
  }

  &__sides {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 20px;
  }

  &__vs {
    width: 33%;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    display: flex;
  }

  &__side {
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
    new-game-player:first-child {
      padding-bottom: 20px;
    }

    &--red {
      /deep/ .new-game-player__avatar {
        border-color: @red-team-color;
      }
      /deep/ .new-game-player__player-title {
        border-color: @red-team-color;
      }
    }

    &--blue {
      /deep/ .new-game-player__avatar {
        border-color: @blue-team-color;
      }
      /deep/ .new-game-player__player-title {
        border-color: @blue-team-color;
      }
    }
  }

  &__rules {
    @media (max-width: 600px) and (orientation: landscape) {
      font-size: 12px;
    }

    &--value {
      color: #ed7d3a;
    }
  }
}

h4.vs {
  margin-bottom: 0;
  margin-top: 0;

  animation: vs-pulse 2s ease-in-out infinite;
}

@keyframes vs-pulse {
  0% {
    font-size: 2.28rem;
    color: #424242;
  }
  25% {
    color: @red-team-color;
  }
  50% {
    font-size: 2.92rem;
    color: #424242;
  }
  75% {
    color: @blue-team-color;
  }
  100% {
    font-size: 2.28rem;
    color: #424242;
  }
}

.league-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .league-logo {
    width: 42px;
    height: 42px;
    display: block;
    margin-right: 5px;
  }
}

h6.expected-score {
  margin-top: 0;
}

.expected-score__value {
  color: #fff;
  padding: 4px 6px;
  border-radius: 4px;

  &.team-red {
    background-color: @red-team-color;
  }

  &.team-blue {
    background-color: @blue-team-color;
  }
}

.new-game-actions {
  padding-top: 20px;
}

.invisible {
  visibility: hidden;
}