<div class="row">
    <!--<div class="col s12 center blue-grey lighten-3 indigo-text text-darken-2">
        <div class="league-header">
            <template [ngIf]="league != null">
                <img src="{{league.imageUrl}}?size=42" alt="{{league.name}}" class="league-logo">
            </template>
            <h4>{{title}}</h4>
        </div>
    </div>-->

    <div class="col s12 participants">

        <div class="side side-blue">
            <div class="player">
                <new-game-player [player]="bluePlayer1" [leagueId]="leagueId" [sideClass]="'side-blue'"
                                 [excludePlayerIds]="excludePlayerIds"
                                 (playerSelected)="onBluePlayer1Selected($event)"></new-game-player>
            </div>
            <div class="player">
                <new-game-player [player]="bluePlayer2" [leagueId]="leagueId" [sideClass]="'side-blue'"
                                 [excludePlayerIds]="excludePlayerIds"
                                 (playerSelected)="onBluePlayer2Selected($event)"></new-game-player>
            </div>
        </div>
        <h5 class="center grey-text text-darken-3 vs">VS</h5>
        <div class="side side-red">
            <div class="player">
                <new-game-player [player]="redPlayer1" [leagueId]="leagueId" [sideClass]="'side-red'" [excludePlayerIds]="excludePlayerIds"
                                 (playerSelected)="onRedPlayer1Selected($event)"></new-game-player>
            </div>
            <div class="player">
                <new-game-player [player]="redPlayer2" [leagueId]="leagueId" [sideClass]="'side-red'" [excludePlayerIds]="excludePlayerIds"
                                 (playerSelected)="onRedPlayer2Selected($event)"></new-game-player>
            </div>
        </div>
    </div>

</div>

<div class="row" *ngIf="playerSelectionReady">
    <div class="col s12 new-game-actions">
        <a class="waves-effect waves-light btn light-blue accent-4" (click)="onShuffleClicked()">Shuffle</a>
        <a class="waves-effect waves-light btn green" (click)="onPlayClicked()">Play</a>
    </div>
</div>