@import "../../colors";

.participants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; // for shuffle animation
}

.side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

new-game-player {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 5vh;
  padding-bottom: 5vh;
  position: relative; // for shuffle animation

  &.animate {
    transition-duration: 500ms;
    img.circle {
      transition-duration: 500ms;
    }
  }
}

.new-game-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h5.vs {
  margin-bottom: 0;
  margin-top: 0;
}

.league-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .league-logo {
    width: 42px;
    height: 42px;
    display: block;
    margin-right: 5px;
  }
}
