<div class="row">
    <!--<div class="col s12 center blue-grey lighten-3 indigo-text text-darken-2">
        <div class="league-header">
            <template [ngIf]="league != null">
                <img src="{{league.imageUrl}}?size=42" alt="{{league.name}}" class="league-logo">
            </template>
            <h4>{{title}}</h4>
        </div>
    </div>-->



    <div class="new-game__sides">
        <div class="new-game__side new-game__side--blue">

            <new-game-player [player]="bluePlayer1" [leaguePlayerIds]="leaguePlayerIds" [selectedPlayerIds]="selectedPlayerIds"
                             [sideClass]="'side-blue'"
                             (animationFinished)="onPlayerAnimationFinished($event)"
                             (playerSelected)="onPlayerSelected('blue1', $event)" class="new-game__player"></new-game-player>

            <span [class.invisible]="!expectedScoreBlue || !expectedScoreRed" class="new-game__expected-score">{{expectedScoreBlue}}</span>

            <new-game-player [player]="bluePlayer2" [leaguePlayerIds]="leaguePlayerIds" [selectedPlayerIds]="selectedPlayerIds"
                             [sideClass]="'side-blue'"
                             (animationFinished)="onPlayerAnimationFinished($event)"
                             (playerSelected)="onPlayerSelected('blue2', $event)" class="new-game__player"></new-game-player>

        </div>
        <div class="new-game__vs">
            <div>vs</div>
        </div>
        <div class="new-game__side new-game__side--red">

            <new-game-player [player]="redPlayer1" [leaguePlayerIds]="leaguePlayerIds" [selectedPlayerIds]="selectedPlayerIds"
                             [sideClass]="'side-red'"
                             (animationFinished)="onPlayerAnimationFinished($event)"
                             (playerSelected)="onPlayerSelected('red1', $event)" class="new-game__player"></new-game-player>
            <span [class.invisible]="!expectedScoreBlue || !expectedScoreRed" class="new-game__expected-score">{{expectedScoreRed}}</span>

            <new-game-player [player]="redPlayer2" [leaguePlayerIds]="leaguePlayerIds" [selectedPlayerIds]="selectedPlayerIds"
                             [sideClass]="'side-red'"
                             (animationFinished)="onPlayerAnimationFinished($event)"
                             (playerSelected)="onPlayerSelected('red2', $event)" class="new-game__player"></new-game-player>

        </div>
    </div>


    <!--<div class="col s12 participants">
        <div class="side side-blue">

            <new-game-player [player]="bluePlayer1" [leaguePlayerIds]="leaguePlayerIds" [selectedPlayerIds]="selectedPlayerIds"
                             [sideClass]="'side-blue'"
                             (animationFinished)="onPlayerAnimationFinished($event)"
                             (playerSelected)="onPlayerSelected('blue1', $event)"></new-game-player>

            <new-game-player [player]="bluePlayer2" [leaguePlayerIds]="leaguePlayerIds" [selectedPlayerIds]="selectedPlayerIds"
                             [sideClass]="'side-blue'"
                             (animationFinished)="onPlayerAnimationFinished($event)"
                             (playerSelected)="onPlayerSelected('blue2', $event)"></new-game-player>

        </div>
        <h4 class="center grey-text text-darken-3 vs">VS</h4>
        <div class="side side-red">

            <new-game-player [player]="redPlayer1" [leaguePlayerIds]="leaguePlayerIds" [selectedPlayerIds]="selectedPlayerIds"
                             [sideClass]="'side-red'"
                             (animationFinished)="onPlayerAnimationFinished($event)"
                             (playerSelected)="onPlayerSelected('red1', $event)"></new-game-player>

            <new-game-player [player]="redPlayer2" [leaguePlayerIds]="leaguePlayerIds" [selectedPlayerIds]="selectedPlayerIds"
                             [sideClass]="'side-red'"
                             (animationFinished)="onPlayerAnimationFinished($event)"
                             (playerSelected)="onPlayerSelected('red2', $event)"></new-game-player>

        </div>
    </div>-->
    <h6 [class.invisible]="!expectedScoreBlue || !expectedScoreRed" class="center blue-grey-text text-darken-3 expected-score">Score prediction</h6>
    <div [class.invisible]="!expectedScoreBlue || !expectedScoreRed" class="center">
        <span class="expected-score__value team-blue">{{expectedScoreBlue}}</span> &mdash; <span class="expected-score__value team-red">{{expectedScoreRed}}</span>
    </div>

</div>

<div class="row">
        <a class="waves-effect waves-light center btn global__btn--play" (click)="onPlayClicked()"
           [class.disabled]="!this.playerSelectionReady||(this.shuffleCount>0)">Play</a>
</div>

<div class="row">
    <a class="waves-effect waves-light center btn global__btn--shuffle" (click)="onShuffleClicked()"
       [class.disabled]="shuffleDisabled">Shuffle</a>
</div>