<template [ngIf]="players == null">
    <loading></loading>
</template>
<template [ngIf]="players != null">
    <div *ngIf="!hideSearchField" class="player-list__search global__search">
        <i class="material-icons player-list__search-icon global__search-icon">search</i>
        <input [(ngModel)]="searchValue" (input)="onSearchFieldModified()" id="searchField" type="text" placeholder="Search" class="player-list__search-input global__search-input">
    </div>
    <ul class="player-list">
        <li class="player-item" *ngFor="let player of players;" (click)="onPlayerClicked(player)">
            <div class="player-item-details">
                <img src="{{player.imageUrl}}?size=200" alt="{{player.name}}">
                <div class="title">{{player.name}}</div>
            </div>
        </li>
    </ul>
</template>
