.player-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.player-item {
  //flex: 1;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }
  
  .title {
    width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .player-item-details {
    align-items: center;
  }
}
