<template [ngIf]="league == null">
    <h4>Loading...</h4>
</template>
<template [ngIf]="league != null">

    <div class="row">
        <div class="col s12 l8">
            <league-summary [league]="league"></league-summary>
        </div>
    </div>

    <div class="row">
        <div class="col s12 l8">
            <ul class="collection list with-header">
                <li class="collection-header"><h4>Player ranking graph TODO</h4></li>
            </ul>
        </div>
    </div>

    

    <div class="row">
        <div class="col s12 l8">
            <ul class="row list">
                <li class="col s12 m6 l12">
                    <player-list [title]="'Player ranking'"
                                 [autoLoad]="false"
                                 [players]="players"></player-list>
                </li>
            </ul>
        </div>
    </div>

    <div class="fixed-action-btn" *ngIf="authService.isAuthenticated()">
        <a class="btn-floating btn-large waves-effect waves-light red" (click)="openAddPlayerModal()"><i class="material-icons">add</i></a>
    </div>

    <!-- Modal Structure -->
    <div id="addPlayerModal" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="materializeActions">
        <div class="modal-content">
            <p>Players pictures TODO</p>
        </div>
        <div class="modal-footer">
            <a class="waves-effect waves-green btn-flat" (click)="closeAddPlayerModal()">Cancel</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Add</a>
        </div>
    </div>

</template>
