<template [ngIf]="league == null">
    <loading></loading>
</template>
<template [ngIf]="league != null">
    <div class="row">
        <div class="col s12 l8">
            <ul class="row list">
                <li class="col s12 m6 l12">
                    <league-player-list displayPlayers="true" [leaguePlayers]="leaguePlayers" [observer]="this" [pageCount]="pageCount"
                                        hideSearchField="true" [allowRemove]="adminInLeague"
                                        (removePlayer)="onRemovePlayer($event)"
                                        (approvePlayer)="onApprovePlayer($event)"></league-player-list>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal center" materialize="modal" [materializeParams]="[{dismissible: true, inDuration: 100, outDuration: 100}]"
         [materializeActions]="materializeActionsRemove">
        <div class="modal-content">
            <h5 class="center">Remove player</h5>
            <p>You are about to remove player '<strong>{{removePlayer?.name}}</strong>' from this league (<strong>{{league.name}}</strong>).
            </p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect btn-flat grey lighten-1 left">Cancel</a>
            <a (click)="onConfirmRemoveClicked()" class="modal-action modal-close waves-effect btn-flat red white-text">Remove</a>
        </div>
    </div>
    <div class="modal center" materialize="modal" [materializeParams]="[{dismissible: true, inDuration: 100, outDuration: 100}]"
         [materializeActions]="materializeActionsApprove">
        <div class="modal-content">
            <h5 class="center">Join League Request</h5>
            <p>Player '<strong>{{approvePlayer?.name}}</strong>' has requested to join this league (<strong>{{league.name}}</strong>).</p>
        </div>
        <div class="modal-footer">
            <a (click)="onConfirmPlayerJoin(true)" class="modal-action waves-effect btn-flat green white-text left">Allow</a>
            <a (click)="onConfirmPlayerJoin(false)" class="modal-action waves-effect btn-flat red white-text">Deny</a>
        </div>
    </div>
</template>
