<div class="card">
    <div class="card-content">
        <span class="card-title">Player stats</span>
        <table class="table">
            <tr>
                <td>Goals</td>
                <td>54</td>
            </tr>
            <tr>
                <td>Matches</td>
                <td>124</td>
            </tr>
            <tr>
                <td colspan="2">
                    More data here...
                </td>
            </tr>
        </table>
    </div>
    <div class="card-action">
        <a href="#">Some action</a>
    </div>
</div>
