<div class="game-list indexed" [class.with-header]="!!title">
    <h4 *ngIf="title" class="game-list__heading">{{title}}</h4>
    <a href="#!" class="game-list__item" *ngFor="let game of games" (click)="onGameClicked(game, $event)">
        <game-summary [game]="game"></game-summary>
    </a>
    <p *ngIf="games?.length == 0" class="game-list__item game-list__item--empty">
        No games
    </p>
    <a href="#!" *ngIf="games?.length > 0 && detailsPath" class="game-list__more" (click)="onDetailsClicked($event)">See all games</a>
    <ul class="pagination center" *ngIf="pages?.length > 1">
        <li [class.disabled]="currentPage === 1" class="waves-effect"><a (click)="setCurrentPage(currentPage - 1)"><i
                class="material-icons">chevron_left</i></a></li>
        <li *ngFor="let page of pages;" [class.active]="page == currentPage" class="waves-effect"><a
                (click)="setCurrentPage(page)">{{page}}</a></li>
        <li [class.disabled]="currentPage === pageCount" class="waves-effect"><a (click)="setCurrentPage(currentPage + 1)"><i
                class="material-icons">chevron_right</i></a></li>
    </ul>
</div>
