<div class="game-list indexed" [class.with-header]="!!title">
    <h4 *ngIf="title" class="game-list__heading">{{title}}</h4>
    <a href="#!" class="game-list__item" *ngFor="let game of games" (click)="onGameClicked(game, $event)">
        <game-summary [game]="game"></game-summary>
    </a>
    <h5 *ngIf="games?.length == 0" class="collection-item empty" i18n="No games|Games list empty message">
        No games
    </h5>
    <a href="#!" *ngIf="games?.length > 0 && detailsPath" class="game-list__more" (click)="onDetailsClicked($event)">See all games</a>
</div>
