<div class="collection list indexed" [class.with-header]="!!title">
    <h4 *ngIf="title" class="collection-header">{{title}}</h4>
    <a href="#!" class="collection-item" *ngFor="let game of games" (click)="onGameClicked(game, $event)">
        <game [game]="game"></game>
    </a>
    <h5 *ngIf="games?.length == 0" class="collection-item empty" i18n="No games|Games list empty message">
        No games
    </h5>
    <a href="#!" *ngIf="games?.length > 0 && detailsPath" class="collection-item empty" (click)="onDetailsClicked($event)">
        <h5 class="grey-text darkened-4">See all games...</h5>
    </a>
</div>
