<template [ngIf]="player == null">
    <loading></loading>
</template>
<template [ngIf]="player != null">
    <div class="player-summary">
        <div class="player-summary__ranking" *ngIf="ranking > 0">{{ranking}}</div>
        <img src="{{player.imageUrl}}?size=42" alt="{{player.name}}" class="player-summary__avatar">
        <div class="player-summary__name">{{player.name}}</div>
        <div class="player-summary__rating">{{ratingPoints()}}</div>
        <a *ngIf="allowRemove" class="player-summary__remove" [class.hide-remove]="isCurrentPlayer" (click)="onRemoveClicked($event)"><i class="material-icons">highlight_off</i></a>
        <!-- <div class="primary">
             <span class="title">{{player.name}}</span>&lt;!&ndash;
             <p *ngIf="player.description" class="grey-text darken-3">{{player.description}}</p>&ndash;&gt;
         </div>-->
        <!--<div class="player-summary__" *ngIf="ranking > 0">
            <div class="badges-container">

                <span class="badge grey darken-1 white-text"><small class="rating-points">{{ratingPoints()}}</small></span>
            </div>
        </div>-->
    </div>
</template>
