@import "../../mixins";

.player-summary {
  .summary-list-mixin;

  &__ranking {
    flex-grow: 0;
    width: 40px;
    text-align: left;
  }

  &__avatar {
    flex-grow: 0;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  &__name {
    flex-grow: 1;
    text-overflow: ellipsis;
  }

  &__rating {
    flex-grow: 0;
    width: 50px;
    text-align: right;
  }
}



/*
.player {

  .fullname {
    color: #888;
  }
}

.player-summary {
  display: flex;
}

.primary {
  flex-grow: 1;
}

.secondary {
  display: flex;
  flex-direction: column;
  height: 60px;
  margin-left: auto;
}

.badges-container {
  display: flex;
  .rating-points {
    vertical-align: middle;
  }
}

span.badge {
  margin-left: 0;
  width: 50%;
}*/
