<template [ngIf]="player == null">
    <loading></loading>
</template>
<template [ngIf]="player != null">
    <div class="player-summary">
        <img src="{{player.imageUrl}}?size=42" alt="{{player.name}}" class="circle">
        <div class="primary">
            <span class="title">{{player.name}}</span>
            <p *ngIf="player.nickname" class="grey-text darken-3">{{player.nickname}}</p>
        </div>
        <div class="secondary" *ngIf="ranking > 0">
            <div class="badges-container">
                <span class="badge light-blue darken-4 white-text">{{ranking}}<small>{{rankingText()}}</small></span>
                <span class="badge grey darken-1 white-text"><small class="rating-points">{{ratingPoints()}}</small></span>
            </div>
        </div>
    </div>
</template>
