<div class="league-team-list" [class.with-header]="!!title">
    <h4 *ngIf="title" class="league-team-list__heading">{{title}}</h4>
    <a href="#!" class="league-team-list__item" *ngFor="let leagueTeam of leagueTeams" (click)="onLeagueTeamClicked(leagueTeam, $event)">
        <league-summary *ngIf="displayLeagues" [league]="leagueTeam.league" [rating]="leagueTeam.rating"
                        [ranking]="leagueTeam.ranking"></league-summary>
        <team-summary *ngIf="displayTeams" [team]="leagueTeam.team" [rating]="leagueTeam.rating"
                      [ranking]="leagueTeam.ranking"></team-summary>
    </a>
    <h5 *ngIf="leagueTeams?.length == 0" class="collection-item empty">
        {{displayLeagues ? 'No leagues' : displayTeams ? 'No teams' : ''}}
    </h5>
    <a href="#!" *ngIf="leagueTeams?.length > 0 && detailsPath" class="league-team-list__more" (click)="onDetailsClicked($event)">{{seeMoreText}}</a>
    <ul class="pagination center" *ngIf="pages?.length > 1">
        <li [class.disabled]="currentPage === 1" class="waves-effect"><a (click)="setCurrentPage(currentPage - 1)"><i
                class="material-icons">chevron_left</i></a></li>
        <li *ngFor="let page of pages;" [class.active]="page == currentPage" class="waves-effect"><a
                (click)="setCurrentPage(page)">{{page}}</a>
        </li>
        <li [class.disabled]="currentPage === pageCount" class="waves-effect"><a (click)="setCurrentPage(currentPage + 1)"><i
                class="material-icons">chevron_right</i></a></li>
    </ul>
</div>