<ul class="collection list" [class.with-header]="!!title">
    <li *ngIf="title" class="collection-header"><h4>{{title}}</h4></li>
    <li href="#!" class="collection-item avatar" *ngFor="let leagueTeam of leagueTeams" (click)="onLeagueTeamClicked(leagueTeam)">
        <league-summary *ngIf="displayLeagues" [league]="leagueTeam.league" [rating]="leagueTeam.rating" [ranking]="leagueTeam.ranking"></league-summary>
        <team-summary *ngIf="displayTeams" [team]="leagueTeam.team" [rating]="leagueTeam.rating" [ranking]="leagueTeam.ranking"></team-summary>
    </li>
    <li *ngIf="leagueTeams?.length == 0" class="collection-item empty">
        <h5 *ngIf="displayLeagues">No leagues</h5>
        <h5 *ngIf="displayTeams">No teams</h5>
    </li>
    <li *ngIf="leagueTeams?.length > 0 && this.detailsPath"  href="#!" class="collection-item empty" (click)="onDetailsClicked()">
        <h5>See more</h5>
    </li>
</ul>