<template [ngIf]="playerForm.controls.id.value == ''">
    <loading></loading>
</template>
<template [ngIf]="playerForm.controls.id.value != ''">
    <div class="card edit-form player-edit">
        <div class="card-content">
            <span class="card-title">Edit player</span>
            <form [formGroup]="playerForm">
                <div *ngIf="!!email" class="row">
                    <div class="col s12">
                        <label class="player-email__label">Email</label>

                        <div class="player-email">{{email}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input id="name" type="text" formControlName="name"
                               (ngModelChange)="updatePageTitle($event)" [class.invalid]="!!formErrors.name"
                               required="required" aria-required="true" autocomplete="off">
                        <label class="active" [attr.data-error]="formErrors.name" for="name">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input id="fullname" type="text" formControlName="fullname" [class.invalid]="!!formErrors.fullname"
                               required="required" aria-required="true" autocomplete="off">
                        <label class="active" [attr.data-error]="formErrors.fullname" for="fullname">Full name</label>
                    </div>
                </div>
                <div class="row">

                    <div class="input-field">
                        <label class="avatar">Avatar image</label>
                        <input type="file" accept="image/*" #fileInput style="display:none;">

                        <div class="player-icon-frame">
                            <img [src]="imageUrl" alt="Player Image" class="player-icon preview player-edit__avatar"
                                 (click)="fileInput.click()">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <textarea id="description" autocomplete="off" spellcheck="false"
                                  formControlName="description"></textarea>
                        <label class="active" for="description">About</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <label class="nationality">Nationality</label>
                        <select class="browser-default player-nationality" formControlName="nationality">
                            <option [value]="" disabled>Choose your nationality</option>
                            <option *ngFor="let country of countries;" [value]="country.code" [selected]="country.code == nationality">
                                {{country.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row submit-row player-edit__submit-row">
                    <a class="waves-effect waves-teal btn red player-edit__btn player-edit__btn--cancel" (click)="onCancelClicked()">Cancel</a>
                    <a class="waves-effect waves-teal btn light-blue player-edit__btn--submit" [attr.disabled]="!playerForm.valid ? true : null"
                       (click)="onSaveClicked()">Save</a>
                </div>
            </form>
        </div>
    </div>
</template>