@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: 4rem;
}

.marketing {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;

}

.marketing__header {
    text-align: center;
    margin-bottom: 4rem;
}

.marketing__logo {
    width: 100px;
}

.marketing__footer {
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
}

