<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{{baseHref}}">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Office League</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{assetsUrl}}/css/page.css">

    <% for (key in htmlWebpackPlugin.files.css) { %>
    <% item = htmlWebpackPlugin.files.css[key]; %>
    <link rel="stylesheet" href="<%= '{{assetsUrl}}/' + item %>"/>
    <% }; %>

</head>

<body>

<office-league>Loading...</office-league>

</body>

<script type="text/javascript">
    var XPCONFIG = {
        {{#user}}user: {{{.}}},{{/user}}
        baseHref: '{{{baseHref}}}',
        idProvider: '{{{idProvider}}}',
        assetsUrl: '{{{assetsUrl}}}',
        loginUrl: '{{{loginUrl}}}',
        logoutUrl: '{{{logoutUrl}}}',
        graphQlUrl: '{{baseHref}}/api/graphql',
        setImageUrl: '{{setImageUrl}}'
    }
</script>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

<% for (key in htmlWebpackPlugin.files.chunks) { %>
<% item = htmlWebpackPlugin.files.chunks[key].entry; %>
<script type="text/javascript" src="<%= '{{assetsUrl}}/' + item %>"></script>
<% }; %>

</html>