<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{{baseHref}}">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Office League</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{assetsUrl}}/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{assetsUrl}}/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{assetsUrl}}/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{siteUrl}}/manifest.json">
    <link rel="mask-icon" href="{{assetsUrl}}/icons/safari-pinned-tab.svg" color="#142663">
    <meta name="theme-color" content="#ffffff">

    <% for (key in htmlWebpackPlugin.files.css) { %>
    <% item = htmlWebpackPlugin.files.css[key]; %>
    <link rel="stylesheet" href="<%= '{{assetsUrl}}/' + item %>"/>
    <% }; %>

    <script type="text/javascript">
        if (document.location.href.endsWith('{{siteUrl}}') && !document.location.href.endsWith('/')) {
            document.location = document.location.href + "/";
        }
    </script>
</head>

<body>

<office-league>Loading...</office-league>

</body>



<script type="text/javascript">
    var XPCONFIG = {
        locale: '{{{locale}}}',
        {{#user}}user: {{{.}}},{{/user}}
        baseHref: '{{{baseHref}}}',
        assetsUrl: '{{{assetsUrl}}}',
        loginUrl: '{{{loginUrl}}}',
        logoutUrl: '{{{logoutUrl}}}',
        graphQlUrl: '{{baseHref}}/api/graphql',
        setImageUrl: '{{setImageUrl}}'
    }
    {{#isLive}}
    var serviceWorker;
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker
                .register('{{siteUrl}}/service-worker.js', {scope: '{{siteUrl}}'})
                .then(function (registration) {
                    if (registration.installing) {
                        serviceWorker = registration.installing;
                        let assets = [];
                        <% for (key in htmlWebpackPlugin.files.chunks) { %>
                        <%      item = htmlWebpackPlugin.files.chunks[key].entry; %>
                                assets.push('<%= '{{assetsUrl}}/' + item %>');
                        <% }; %>
                        <% for (key in htmlWebpackPlugin.files.css) { %>
                        <%      item = htmlWebpackPlugin.files.css[key]; %>
                                assets.push('<%= '{{assetsUrl}}/' + item %>');
                        <% }; %>

                        if (assets.length > 0) {
                            serviceWorker.postMessage({
                                assets: assets
                            });
                        }
                    }
                    console.log('Service Worker registered with scope ' + registration.scope);
                }, function () {
                    console.log('Service Worker registration failure.');
                });
    }
    {{/isLive}}
</script>

<% for (key in htmlWebpackPlugin.files.chunks) { %>
<% item = htmlWebpackPlugin.files.chunks[key].entry; %>
<script type="text/javascript" src="<%= '{{assetsUrl}}/' + item %>"></script>
<% }; %>

</html>