<div class="col s12">
    <ul class="collection list" [class.with-header]="!!title">
        <li *ngIf="title" class="collection-header"><h4>{{title}}</h4></li>
        <li href="#!" class="collection-item avatar" *ngFor="let league of leagues" (click)="onLeagueClicked(league)">
            <league [league]="league"></league>
        </li>
    </ul>

    <div class="right">
        <a class="btn-floating btn-large blue" (click)="onCreateClicked()">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>
