<template [ngIf]="team == null">
    <loading></loading>
</template>
<div *ngIf="team != null">

    <div class="row">
        <div class="col s10">
            <!--<div class="team-header">
                <img src="{{team.imageUrl}}?size=512" alt="{{team.name}}" class="circle">

                <h2 class="header light-blue-text text-darken-4">{{team.name}}</h2>
            </div>
        </div>-->
        <div *ngIf="editable" class="col s2" (click)="onEditClicked()">
            <a class="btn-floating btn-large waves-effect waves-light light-blue darken-4"><i class="material-icons">edit</i></a>
        </div>
    </div>
   <!-- <div class="row">
        <div class="col s12">
            <form>
                <div>
                    <div>
                        <label>About</label>
                        <span>{{team.description}}</span>
                    </div>
                </div>
            </form>
        </div>
    </div>-->

    <ul class="row">

        <li class="col s12 m6">
            <player-list [players]="team.players" [title]="'Players'" hideSearchField="true"></player-list>
        </li>

        <li class="col s12 m6">
            <league-team-list [leagueTeams]="team.leagueTeams" displayLeagues="true" title="Leagues"></league-team-list>
        </li>

        <li class="col s12 m8">
            <game-list [games]="games" [title]="'Latest games'"></game-list>
        </li>

    </ul>

</div>
<!--TODO Create a new team button-->