<template [ngIf]="team == null && !connectionError">
    <loading></loading>
</template>
<template [ngIf]="team == null && connectionError">
    <connection-error></connection-error>
</template>
<div *ngIf="team != null" class="team-profile">


    <div *ngIf="editable" class="fixed-action-btn" (click)="onEditClicked()">
        <a class="btn-floating btn-large waves-effect waves-light light-blue"><i class="material-icons">mode_edit</i></a>
    </div>

    <div class="row team-profile__details">
        <img src="{{team.imageUrl}}?size=200" class="team-profile__avatar" alt="{{team.name}}">
        <div class="team-profile__info">
            <div class="team-profile__name-wrapper">
                <span class="team-profile__name">{{team.name}}</span>
            </div>
            <div class="team-profile__description">{{team.description}}</div>

            <div class="team-profile__stats" *ngIf="team.stats">
                <div class="team-profile__game-count" *ngIf="team.stats.gameCount > 0">{{format(team.stats.gameCount, '', 'game', 'games')}} played</div>
                <div class="team-profile__game-count" *ngIf="team.stats.goalCount > 0">{{format(team.stats.goalCount, '', 'goal', 'goals')}} scored</div>
                <div class="team-profile__game-count" *ngIf="team.stats.gameCount > 0">{{formatPercent(team.stats.winningPercent*100)}}% games won</div>
                <div class="team-profile__game-count" *ngIf="team.stats.gameCount > 0">{{formatPercent(team.stats.goalsPerGame, 2)}} goals per game</div>
            </div>
        </div>
    </div>

    <div class="row">
        <league-team-list [leagueTeams]="team.leagueTeams" displayLeagues="true" title="Leagues"></league-team-list>
    </div>

    <div class="row">
        <player-list [players]="team.players" [title]="'Players'" hideSearchField="true"></player-list>
    </div>

    <div class="row">
        <game-list [games]="games" [title]="'Latest games'" [detailsPath]="['teams', team.name.toLowerCase(), 'games']"></game-list>
    </div>

</div>