<template [ngIf]="team == null">
    <loading></loading>
</template>
<div *ngIf="team != null" class="team-profile">


    <div *ngIf="editable" class="fixed-action-btn" (click)="onEditClicked()">
        <a class="btn-floating btn-large waves-effect waves-light light-blue"><i class="material-icons">mode_edit</i></a>
    </div>

    <div class="row team-profile__details">
        <div class="col s4">
            <img src="{{team.imageUrl}}?size=200" class="team-profile__avatar" alt="{{team.name}}">
        </div>
        <div class="col s8">
            <div class="team-profile__name-wrapper">
                <span class="team-profile__name">{{team.name}}</span>
            </div>
            <div class="team-profile__description">{{team.description}}</div>
        </div>
    </div>







   <!-- <div class="row team-profile__header">

        <div class="col s4 m2">
            <img src="{{team.imageUrl}}?size=200" alt="{{team.name}}" class="circle">
        </div>
            <div class="col s5 m8">
                <div>{{team.description}}</div>
            </div>

        <div *ngIf="editable" class="col s3 m2 right-align" (click)="onEditClicked()">
            <a class="waves-effect waves-light btn light-blue darken-3"><i class="material-icons left">mode_edit</i>Edit</a>
        </div>

    </div>-->
   <!-- <div class="row">
        <div class="col s12">
            <form>
                <div>
                    <div>
                        <label>About</label>
                        <span>{{team.description}}</span>
                    </div>
                </div>
            </form>
        </div>
    </div>-->

    <div class="row">
        <league-team-list [leagueTeams]="team.leagueTeams" displayLeagues="true" title="Leagues"></league-team-list>
    </div>

    <div class="row">
        <player-list [players]="team.players" [title]="'Players'" hideSearchField="true"></player-list>
    </div>

    <div class="row">
        <game-list [games]="games" [title]="'Latest games'"></game-list>
    </div>


</div>