<div *ngIf="!hideSearchField" class="input-field col s12">
    <i class="material-icons prefix">search</i>
    <input [(ngModel)]="searchValue" (input)="onSearchFieldModified()" id="searchField" type="text">
    <label for="searchField">Search</label>
</div>
<div class="team-list" [class.with-header]="!!title">
    <h4 *ngIf="title" class="team-list__heading">{{title}}</h4>
    <a href="#!" class="team-list__item" *ngFor="let team of teams;" (click)="onTeamClicked(team, $event)">
        <team-summary [team]="team"></team-summary>
    </a>
    <h5 *ngIf="teams?.length == 0" class="collection-item empty">
        No teams
    </h5>
    <a href="#!" *ngIf="teams?.length > 0 && this.detailsPath" class="collection-item empty" (click)="onDetailsClicked($event)">
        <h5>See more</h5>
    </a>

    <ul class="pagination center" *ngIf="pages?.length > 1">
        <li [class.disabled]="currentPage === 1" class="waves-effect"><a (click)="setCurrentPage(currentPage - 1)"><i
                class="material-icons">chevron_left</i></a></li>
        <li *ngFor="let page of pages;" [class.active]="page == currentPage" class="waves-effect"><a
                (click)="setCurrentPage(page)">{{page}}</a></li>
        <li [class.disabled]="currentPage === pageCount" class="waves-effect"><a (click)="setCurrentPage(currentPage + 1)"><i
                class="material-icons">chevron_right</i></a></li>
    </ul>
</div>
