<ng-template [ngIf]="game == null">
    <loading></loading>
</ng-template>
<ng-template [ngIf]="game != null">
    <ng-template [ngIf]="!game.finished">
        <span class="game__live">Live</span>
    </ng-template>
    <div class="game">
        <div class="game__summary game__header">
            <div class="game__side game__side--header game__side--1">

                <div class="game__side-intro">
                    <div class="game__side-avatar-wrapper">
                        <ng-template [ngIf]="blueTeam">
                            <img src="{{blueTeam?.team.imageUrl}}?size=200" alt="{{blueTeam?.team.name}}" class="game__side-avatar"/>
                        </ng-template>
                        <ng-template [ngIf]="!blueTeam">
                            <img src="{{bluePlayers[0]?.player.imageUrl}}?size=200" alt="{{bluePlayers[0]?.player.name}}"
                                 class="game__side-avatar"/>
                        </ng-template>
                    </div>
                    <div class="game__side-score game__side-score--1">
                        <div>{{blueScore}}</div>
                    </div>
                </div>
            </div>
            <div class="game__side game__side--header game__side--2">

                <div class="game__side-intro game__side-intro--2">
                    <div class="game__side-avatar-wrapper">
                        <ng-template [ngIf]="redTeam">
                            <img src="{{redTeam?.team.imageUrl}}?size=200" alt="{{redTeam?.team.name}}" class="game__side-avatar"/>
                        </ng-template>
                        <ng-template [ngIf]="!redTeam">
                            <img src="{{redPlayers[0]?.player.imageUrl}}?size=200" alt="{{redPlayers[0]?.player.name}}"
                                 class="game__side-avatar"/>
                        </ng-template>
                    </div>
                    <div class="game__side-score game__side-score--2">
                        <div>{{redScore}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="game__summary">
            <div class="game__side game__side--1">

                <div class="game__side-details">
                    <div class="game__side-heading">
                        <ng-template [ngIf]="blueTeam">
                            <div class="game__side-name">{{blueTeam.team.name}}</div>
                            <rating-points [points]="blueTeam.ratingDelta" class="game__side-points"></rating-points>
                        </ng-template>
                        <ng-template [ngIf]="!blueTeam">
                            <div class="game__side-name">{{bluePlayers[0]?.player.name}}</div>
                            <rating-points [points]="bluePlayers[0]?.ratingDelta" class="game__side-points"></rating-points>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="game__side game__side--2">
                <div class="game__side-details game__side-details--2">

                    <div class="game__side-heading game__side-heading--2">
                        <ng-template [ngIf]="redTeam">
                            <div class="game__side-name game__side-name--2">{{redTeam.team.name}}</div>
                            <rating-points [points]="redTeam.ratingDelta"
                                           class="game__side-points game__side-points--2"></rating-points>
                        </ng-template>
                        <ng-template [ngIf]="!redTeam">
                            <div class="game__side-name game__side-name--2">{{redPlayers[0]?.player.name}}</div>
                            <rating-points [points]="redPlayers[0]?.ratingDelta"
                                           class="game__side-points game__side-points--2"></rating-points>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="game__summary">
            <div class="game__side game__side--1">
                <div class="game__side-details">
                    <ng-template [ngIf]="blueTeam">
                        <ul class="game__players">
                            <li *ngFor="let bluePlayer of bluePlayers" class="game__player">
                                <img src="{{bluePlayer.player.imageUrl}}?size=200" alt="{{bluePlayer.player.name}}"
                                     class="game__player-avatar game__player-avatar--1">
                                <div class="game__player-name">{{bluePlayer.player.name}}</div>
                                <rating-points [points]="bluePlayer.ratingDelta" class="game__player-points"></rating-points>
                            </li>
                        </ul>
                    </ng-template>
                </div>
            </div>
            <div class="game__side game__side--2">
                <div class="game__side-details game__side-details--2">
                    <ng-template [ngIf]="redTeam">
                        <ul class="game__players">
                            <li *ngFor="let redPlayer of redPlayers" class="game__player game__player--2">
                                <img src="{{redPlayer.player.imageUrl}}?size=100" alt="{{redPlayer.player.name}}"
                                     class="game__player-avatar game__player-avatar--2">
                                <div class="game__player-name game__player-name--2">{{redPlayer.player.name}}</div>
                                <rating-points [points]="redPlayer.ratingDelta"
                                               class="game__player-points game__player-points--2"></rating-points>
                            </li>
                        </ul>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

</ng-template>
