<template [ngIf]="game == null">
    <loading></loading>
</template>
<template [ngIf]="game != null">
    <div class="game">

        <div class="results">
            <img *ngIf="loserTeam" src="{{loserTeam.imageUrl}}?size=96" alt="{{loserTeam.name}}" class="logo circle">
                <img *ngIf="!loserTeam" src="{{losers[0].imageUrl}}?size=96" alt="{{losers[0].name}}" class="logo circle">
            <div class="score score--loser {{loserSide | lowercase}}">{{loserGoals}}</div>
            <span class="colon">:</span>
            <div class="score score--winner {{winnerSide | lowercase}}">{{winnerGoals}}</div>
            <img *ngIf="winnerTeam" src="{{winnerTeam.imageUrl}}?size=96" alt="{{winnerTeam.name}}" class="logo circle">
                <img *ngIf="!winnerTeam" src="{{winners[0].imageUrl}}?size=96" alt="{{winners[0].name}}" class="logo circle">
        </div>

        <div class="teams">
            <div class="side side--loser {{loserSide | lowercase}}">
                <template [ngIf]="loserTeam">
                    <div class="team">{{loserTeam.name}}</div>
                    <ul class="players">
                        <li *ngFor="let loser of losers">{{loser.name}}</li>
                    </ul>
                </template>
                <template [ngIf]="!loserTeam">
                    <div class="team">{{losers[0].name}}</div>
                </template>
            </div>

            <div class="side side--winner {{winnerSide | lowercase}}">
                <template [ngIf]="winnerTeam">
                    <div class="team">{{winnerTeam.name}}</div>
                    <ul class="players">
                        <li *ngFor="let winner of winners">{{winner.name}}</li>
                    </ul>
                </template>
                <template [ngIf]="!winnerTeam">
                    <div class="team">{{winners[0].name}}</div>
                </template>
            </div>
        </div>

        <div class="date">{{game.time | date}}</div>
    </div>

</template>
