@import "../../colors";

.game {
  &__summary {
    display: flex;
  }

  &__side {
    width: 33%;
    flex: 1 100%;
    text-align: center;

    &-logo {
      width: 60%;
    }
  }

  .game__date {
    padding-top: 5px;
  }

  .game__double {
    padding-top: 2.5rem;
  }

  &__result {
    width: 33%;
    flex: 1 100%;
    text-align: center;
    display: flex;
    flex-direction: column;

    &__score {
      font-size: 2.4rem;
      font-weight: 300;
    }
  }

  &__team-name {
    font-weight: bold;
  }

  //TODO fix live styles
  &__live {
    color: red;

    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    @keyframes blink-animation {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink-animation {
      to {
        visibility: hidden;
      }
    }
  }

  .game__team__player {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
}

/*
.game {
  font-family: "Roboto Mono", monospace;
}

.results, .teams {
  display: flex;
  justify-content: center;
}

.results {
  align-items: center;

  .logo {
    width: 4rem;
    height: 4rem;
  }

  .score {
    width: 3rem;
    font-size: 2.5rem;
    font-weight: bold;

    &--blue {
      text-align: right;
      margin-left: 1rem;
    }

    &--red {
      text-align: left;
      margin-right: 1rem;
    }
  }

  .colon {
    width: 2.8rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #aaa;
  }
}

.teams {
  margin: 0.25rem 0;

  .side {
    &--blue, &--red {
      flex-basis: 50%;
    }

    &--blue {
      text-align: right;
      padding-right: 1.5rem;
    }

    &--red {
      text-align: left;
      padding-left: 1.5rem;
    }

    .team {
      font-weight: bold;
      font-size: 1.2em;
    }

    .players {
      margin: 0.25rem 0 0;
    }
  }
}

.side-red {
  color: @red-team-color;
}

.side-blue {
  color: @blue-team-color;
}

.date {
  text-align: center;
  margin: 0;
  color: #999;
}*/
