@import "../../colors";

.game {

  padding-bottom: 20px;

  &__summary {
    display: flex;
    flex-direction: row;
  }

  &__header {
    width: ~"calc(100% + 20px)";
    left: -10px;
    position: relative;
  }

  &__side {
    width: 50%;
    display: flex;
    flex-direction: column;

    &--1 {
      &.game__side--header {
        background-color: @blue-team-color;
      }
    }

    &--2 {
      &.game__side--header {
        background-color: @red-team-color;
      }
    }

    &-intro {
      width: 100%;
      display: flex;
      flex-direction: row;

      &--2 {
        flex-direction: row-reverse;
      }
    }

    &-details {
      width: 100%;
      padding-top: 10px;

      &--2 {
        text-align: right;
      }
    }

    &-avatar {
      width: 100%;
      display: block;
      border-radius: 50%;
      padding: 6px;

      &-wrapper {
        width: 50%;
      }
    }

    &-score {
      width: 50%;
      color: #fff;
      font-size: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &--1 {
        background-color: @blue-team-color;
      }

      &--2 {
        background-color: @red-team-color;
      }
    }

    &-heading {
      font-size: 1.2rem;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      &--2 {
        flex-direction: row-reverse;
      }
    }

    &-points {
      padding: 0 10px 10px;
    }
  }

  &__player {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 3px;

    &--2 {
      flex-direction: row-reverse;
    }

    &-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid;

      &--1 {
        border-color: @blue-team-color;
      }

      &--2 {
        border-color: @red-team-color;
      }
    }

    &-name {
      padding: 0 10px;
    }
  }

  &__live {
    font-style: italic;
    animation: blinker 2s linear infinite;

  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}
