<template [ngIf]="player == null">
    <loading></loading>
</template>
<div *ngIf="player != null" class="player-profile">

    <div class="row">
        <div class="col s10">
            <div class="player-header">

<!--
                <h2 class="header light-blue-text text-darken-4">{{player.name}}</h2>-->
            </div>
        </div>
    </div>
    <div class="row">

        <!--
        <div *ngIf="editable" class="col s6 center-align" (click)="onCreateTeamClicked()">
            <a class="waves-effect waves-light btn green"><i class="material-icons left">person_add</i>Create Team</a>
        </div>-->
    </div>
    <div class="row player-profile__details">
        <div class="col s4 m2">
            <img src="{{player.imageUrl}}?size=200" alt="{{player.name}}" class="circle">
        </div>
        <div class="col s5 m8">
            <div class="player-profile__nickname">
                {{player.nickname}}
            </div>
            <div>{{player.description}}</div>
            <div *ngIf="player.nationality != null">
                <span class="flag-icon flag-icon-{{player.nationality}}"></span>
                <span>{{getNationality()}}</span>
            </div>
        </div>
        <div *ngIf="editable" class="col s3 m2 right-align" (click)="onEditClicked()">
            <a class="waves-effect waves-light btn light-blue darken-3"><i class="material-icons left">mode_edit</i>Edit</a>
        </div>
    </div>

    <ul class="row">

        <li class="col s12 l6">
            <league-player-list [leaguePlayers]="player.leaguePlayers" displayPlayBtn="profile" displayLeagues="true" title="Leagues"></league-player-list>
        </li>

        <li class="col s12 l6">
            <game-list [games]="games" [title]="'Latest games'"></game-list>
        </li>
        <li class="col s12 l6">
            <team-list [teams]="teams" [title]="'Teams'" [detailsPath]="teamDetailsPath" hideSearchField="true"></team-list>
        </li>

    </ul>

</div>