.player-profile {
  &__details {
    padding: 20px;
    display: flex;
    flex-direction: row;
  }

  &__avatar {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    flex-grow: 0;
    border-radius: 50%;
  }

  &__info {
    flex-grow: 1;
    max-width: 60%;
  }

  &__name-wrapper {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  &__name {
    margin-right: 1rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__fullname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__description {
    overflow: hidden;
    text-overflow: ellipsis;

    font-style: italic;
  }

  &__flag {
    display: inline-block;
  }

  &__stats {
    margin-top: 10px;
    font-size: 0.8rem;
  }
}