<template [ngIf]="player == null">
    <loading></loading>
</template>
<div *ngIf="player != null" class="player-profile">

<!--    <div class="row">
        <div class="col s10">
            <div class="player-header">

&lt;!&ndash;
                <h2 class="header light-blue-text text-darken-4">{{player.name}}</h2>&ndash;&gt;
            </div>
        </div>
    </div>-->
<!--    <div class="row">

        &lt;!&ndash;
        <div *ngIf="editable" class="col s6 center-align" (click)="onCreateTeamClicked()">
            <a class="waves-effect waves-light btn green"><i class="material-icons left">person_add</i>Create Team</a>
        </div>&ndash;&gt;
    </div>-->


    <div *ngIf="editable" class="fixed-action-btn" (click)="onEditClicked()">
        <a class="btn-floating btn-large waves-effect waves-light light-blue"><i class="material-icons">mode_edit</i></a>
    </div>

    <div class="row player-profile__details">
        <div class="col s4">
            <img src="{{player.imageUrl}}?size=200" class="player-profile__avatar" alt="{{player.name}}">
        </div>
        <div class="col s8">
            <div class="player-profile__name-wrapper">
                <span class="player-profile__name">{{player.name}}</span>
                <div *ngIf="player.nationality != null" class="player-profile__flag flag-icon flag-icon-{{player.nationality}}"></div>
            </div>
            <div *ngIf="player.fullname != null" class="player-profile__fullname">{{player.fullname}}</div>
            <div *ngIf="player.email != null" class="player-profile__email">{{player.email}}</div>
            <div class="player-profile__description">{{player.description}}</div>

            <div class="player-profile__stats" *ngIf="player.stats">
                <div class="player-profile__game-count" *ngIf="player.stats.gameCount > 0">{{format(player.stats.gameCount, '', 'game', 'games')}} played</div>
                <div class="player-profile__game-count" *ngIf="player.stats.goalCount > 0">{{format(player.stats.goalCount, '', 'goal', 'goals')}} scored</div>
                <div class="player-profile__game-count" *ngIf="player.stats.gameCount > 0">{{formatPercent(player.stats.winningPercent*100)}}% games won</div>
                <div class="player-profile__game-count" *ngIf="player.stats.gameCount > 0">{{formatPercent(player.stats.goalsPerGame, 2)}} goals per game</div>
            </div>
        </div>
    </div>

    <div class="row">
        <league-player-list [leaguePlayers]="player.leaguePlayers" displayPlayBtn="profile" displayLeagues="true" title="Leagues"></league-player-list>
    </div>

    <div class="row">
        <team-list [teams]="teams" [title]="'Teams'" [detailsPath]="teamDetailsPath" hideSearchField="true"></team-list>
    </div>

    <div class="row">
        <game-list [games]="games" [title]="'Latest games'" [detailsPath]="['players', player.name.toLowerCase(), 'games']"></game-list>
    </div>

</div>