<template [ngIf]="player == null">
    <h4>Loading...</h4>
</template>
<div class="container" *ngIf="player != null">

    <div class="block row">
        <div class="col-md-8">
            <player [player]="player"></player>
        </div>
    </div>

    <ul class="row list">

        <li class="col-md-4 col-md-push-8">
            <player-stats [player]="player"></player-stats>
        </li>

        <li class="col-md-8 col-md-pull-4">
            <game-list [games]="player.games"></game-list>
        </li>

    </ul>

</div>
