.game-profile {
  padding: 20px;
}

textarea.materialize-textarea:focus {
  border-bottom: 1px solid #0091ea;
  box-shadow: 0 1px 0 0 #0091ea;
}

textarea.materialize-textarea:focus + label {
  color: #0091ea;
}