<template [ngIf]="game == null">
    <loading></loading>
</template>
<div *ngIf="game != null" class="game-profile">

    <game [game]="game"></game>
    <template [ngIf]="playerId">
        <a class="btn-floating blue right" (click)="onCommentClicked()"><i class="material-icons">comment</i></a>
    </template>
    <game-points [game]="game"></game-points>

</div>
<div class="modal center" materialize="modal" [materializeParams]="[{dismissible: true, inDuration: 100, outDuration: 100}]"
     [materializeActions]="materializeActions">
    <div class="modal-content">
        <h6 class="center">Game comment</h6>
        <div class="input-field col s12">
            <textarea id="comment" class="materialize-textarea" name="comment" [(ngModel)]="comment"></textarea>
            <label class="active" for="comment">What's happening?</label>
        </div>
    </div>
    <div class="modal-footer">
        <a (click)="onCommentDoneClicked()" class="modal-action modal-close waves-effect waves-blue btn-flat blue white-text">Done</a>
    </div>
</div>