<template [ngIf]="game == null">
    <loading></loading>
</template>
<div *ngIf="game != null">

    <game [game]="game"></game>

<!--    <ul class="row list">
        <li class="col s12 m5 l4 offset-l1">
            <player-list [players]="bluePlayers" hideSearchField="true"></player-list>
        </li>

        <li class="colon col s12 m2 l2">vs</li>

        <li class="col s12 m5 l4">
            <player-list [players]="redPlayers" hideSearchField="true"></player-list>
        </li>
    </ul>-->

    <game-points [game]="game"></game-points>

</div>
