<template [ngIf]="game == null">
    <loading></loading>
</template>
<div *ngIf="game != null" class="game-profile">

    <game [game]="game"></game>
    <game-flow [game]="game"></game-flow>
    <template [ngIf]="playerId">
        <div class="fixed-action-btn">
            <a class="btn-floating global__btn--comment" (click)="onCommentClicked()"><i class="material-icons">comment</i></a>
        </div>
    </template>


    <game-points [game]="game"></game-points>

    <div *ngIf="deletable" class="fixed-action-btn" (click)="onDeleteClicked()">
        <a class="btn-floating btn waves-effect waves-light red"><i class="material-icons">delete</i></a>
    </div>

</div>
<div class="modal center" materialize="modal" [materializeParams]="[{dismissible: true, inDuration: 100, outDuration: 100}]"
     [materializeActions]="materializeActions">
    <div class="modal-content">
        <h6 class="center">Game comment</h6>
        <div class="input-field col s12">
            <textarea id="comment" class="materialize-textarea" name="comment" [(ngModel)]="comment" #commenttextarea></textarea>
            <label class="active" for="comment">What's happening?</label>
        </div>
    </div>
    <div class="modal-footer">
        <a (click)="onCommentDoneClicked()" class="modal-action modal-close waves-effect waves-blue btn-flat blue white-text">Done</a>
    </div>
</div>

<div class="modal center" materialize="modal" [materializeParams]="[{dismissible: true, inDuration: 100, outDuration: 100}]"
     [materializeActions]="materializeActionsDelete">
    <div class="modal-content">
        <h5 class="center">Delete game</h5>
        <p>You are about to permanently delete this game. <strong>This operation cannot be undone.</strong></p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat grey lighten-1 left">Cancel</a>
        <a (click)="onConfirmDeleteClicked()" class="modal-action modal-close waves-effect btn-flat red white-text">Delete</a>
    </div>
</div>