<template [ngIf]="team == null">
    <h4>Loading...</h4>
</template>
<template [ngIf]="team != null">

    <rating class="right" [rating]="team.rating" [previousRating]="team.previousRating"></rating>

    <span *ngIf="index != undefined" class="index">{{index}}</span>

    <i class="material-icons circle">group</i>
    <span class="title">{{team.name}}</span>
    <p *ngIf="team.players">
        <span *ngFor="let player of team.players; let isLast = last">{{player.name}}{{!isLast ? ' + ' : ''}}</span>
    </p>

</template>
