@import "../../colors";

.player-create {

  form {
    margin-top: 2rem;
  }

  label {
    font-size: 1rem;
    color: #fff;
    width: 100%;
    display: block;
  }

  /*input, select, textarea {
    //background-color: #DFDFDF;
    background-color: #475367;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: none;
    border-bottom: none;
    border: 0 0 0 2px solid #475367;
    height: auto;


    &:focus {
      border-color: @focus-color;
      box-shadow: none;

    }

    &.invalid {
      -webkit-box-shadow: inset 0px -2px 0px 0px rgba(244,67,54,1);
      -moz-box-shadow: inset 0px -2px 0px 0px rgba(244,67,54,1);
      box-shadow: inset 0px -2px 0px 0px rgba(244,67,54,1);

      &:focus {
        border-color: @focus-color;
      }

    }


  }

  select {
    height: 3rem;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }*/

  &__avatar {
    max-width: 200px;
  }

  &__submit-row {
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    &--submit {
      margin-left: 10px;
    }

    &--upload {
      background-color: #DFDFDF;
      color: @main-theme-color;
      margin-top: 4px;
    }
  }
}
/*

img.player-icon {
  width: 128px;
  height: 128px;
}

.player-icon-frame {
  display: flex;
  padding: 6px;
  border: 1px solid rgba(58, 58, 58, 0.57);
  margin-left: 3rem;
  float: left;

  img {
    border-radius: 5%;
  }
}

.prefix ~ label.handedness {
  margin-left: 1rem;
}

.prefix ~ label.nationality {
  margin-left: 1rem;
}

.avatar {
  margin-left: 3.8rem;
}

.submit-row {
  display: flex;
  justify-content: flex-end;
  
  .btn {
    margin-left: 8px;
  }
}

input, select, textarea {
  font-size: 16px;
}

.avatar-icon {
  width: 3rem;
  font-size: 2rem;
}*/
