<template [ngIf]="playerForm == null">
    <loading></loading>
</template>
<template [ngIf]="playerForm != null">
    <div class="card edit-form">
        <div class="card-content">
            <span class="card-title">Create player</span>

            <form [formGroup]="playerForm">
                <div class="row">
                    <div class="col s12">
                        <i class="material-icons prefix">email</i>
                        <label class="player-email__label">Email</label>

                        <div class="player-email">{{email}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">fingerprint</i>
                        <input id="name" type="text" formControlName="name"
                               (ngModelChange)="updatePageTitle($event)" [class.invalid]="!!formErrors.name"
                               required="required" aria-required="true" autofocus autocomplete="off">
                        <label class="active" [attr.data-error]="formErrors.name" for="name">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">perm_identity</i>
                        <input id="fullname" type="text" formControlName="fullname" [class.invalid]="!!formErrors.fullname"
                               required="required" aria-required="true" autocomplete="off">
                        <label class="active" [attr.data-error]="formErrors.fullname" for="fullname">Full name</label>
                    </div>
                </div>
                <div class="row">
                    <label class="avatar">Avatar</label>

                    <div class="input-field col s12">
                        <input type="file" accept="image/*" #fileInput style="display:none;">

                        <div class="player-icon-frame">
                            <img [src]="imageUrl" alt="Player Image" class="player-icon preview"
                                 (click)="fileInput.click()">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">info_outline</i>
                        <textarea id="description" class="materialize-textarea" autocomplete="off" spellcheck="false"
                                  formControlName="description"></textarea>
                        <label class="active" for="description">About</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <i class="material-icons prefix">language</i>
                        <label class="nationality">Nationality</label>
                        <select class="browser-default" formControlName="nationality">
                            <option [value]="" disabled>Choose your nationality</option>
                            <option *ngFor="let country of countries;" [value]="country.code" [selected]="country.code == nationality">
                                {{country.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row submit-row">
                    <a class="waves-effect waves-teal btn red" (click)="onCancelClicked()"><i class="material-icons left">cancel</i>Cancel</a>
                    <a class="waves-effect waves-teal btn light-blue" [attr.disabled]="!playerForm.valid ? true : null"
                       (click)="onSaveClicked()"><i class="material-icons left">save</i>Create</a>
                </div>
            </form>
        </div>
    </div>
</template>