<template [ngIf]="playerForm == null">
    <loading></loading>
</template>
<template [ngIf]="playerForm != null">
<div class="card">
    <div class="card-content blue-grey-text">
        <form [formGroup]="playerForm">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">fingerprint</i>
                    <input id="name" type="text" formControlName="name"
                           (ngModelChange)="updatePageTitle($event)" [class.invalid]="!!formErrors.name"
                           required="required" aria-required="true" autofocus autocomplete="off">
                    <label class="active" [attr.data-error]="formErrors.name" for="name">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">perm_identity</i>
                    <input id="fullname" type="text" formControlName="fullname" [class.invalid]="!!formErrors.fullname"
                           required="required" aria-required="true" autocomplete="off">
                    <label class="active" [attr.data-error]="formErrors.fullname" for="fullname">Full name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="file" accept="image/*" #fileInput style="display:none;">
                    <div class="player-icon-frame">
                        <img src="{{imageUrl}}?size=200" alt="Player Image" class="player-icon circle preview"
                             (click)="fileInput.click()">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">info_outline</i>
                    <textarea id="description" class="materialize-textarea" autocomplete="off" spellcheck="false"
                              formControlName="description"></textarea>
                    <label class="active" for="description">About</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <i class="material-icons prefix">language</i>
                    <label class="nationality">Nationality</label>
                    <select class="browser-default" formControlName="nationality">
                        <option [value]="" disabled>Choose your nationality</option>
                        <option *ngFor="let country of countries;" [value]="country.code" [selected]="country.code == nationality">
                            {{country.name}}
                        </option>
                    </select>
                </div>
            </div>
            <!--<div class="row">
                <div class="col s6">
                    <i class="material-icons prefix">thumbs_up_down</i>
                    <label class="handedness">Handedness</label>
                    <p>
                        <input name="handLeft" type="radio" id="handLeft" value="left" [(ngModel)]="handedness" required=""
                               aria-required="true"/>
                        <label for="handLeft">Left</label>
                    </p>
                    <p>
                        <input name="handRight" type="radio" id="handRight" value="right" [(ngModel)]="handedness" required=""
                               aria-required="true"/>
                        <label for="handRight">Right</label>
                    </p>
                    <p>
                        <input name="handBoth" type="radio" id="handBoth" value="ambidexterity" [(ngModel)]="handedness" required=""
                               aria-required="true"/>
                        <label for="handBoth">Ambidextrous</label>
                    </p>
                </div>

            </div>-->
        </form>
    </div>
</div>

<div class="row">
    <!--<div class="col s6">
        <button class="btn waves-effect waves-light grey darken-1 left" type="submit" name="create" (click)="onCancelClicked()">
            Cancel
        </button>
    </div>-->
    <div class="col s6">
        <button class="btn waves-effect waves-light light-blue darken-3 right" type="submit" name="create" (click)="onSaveClicked()"
                [disabled]="!playerForm.valid">
            Create Player
        </button>
    </div>
</div>
</template>