@import "../../colors";

.player-create {

  label {
    font-size: 1rem;
    color: #fff;
  }

  input, select, textarea {
    //background-color: #DFDFDF;
    background-color: #475367;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border: 2px solid #475367;
    height: auto;

    &:focus {
      border-color: @focus-color;
      box-shadow: none;

    }
  }

  select {
    height: 3rem;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }

  &__submit-row {
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    &--submit {
      margin-left: 10px;
    }

    &--upload {
      background-color: #DFDFDF;
      color: @main-theme-color;
    }
  }
}
/*

img.player-icon {
  width: 128px;
  height: 128px;
}

.player-icon-frame {
  display: flex;
  padding: 6px;
  border: 1px solid rgba(58, 58, 58, 0.57);
  margin-left: 3rem;
  float: left;

  img {
    border-radius: 5%;
  }
}

.prefix ~ label.handedness {
  margin-left: 1rem;
}

.prefix ~ label.nationality {
  margin-left: 1rem;
}

.avatar {
  margin-left: 3.8rem;
}

.submit-row {
  display: flex;
  justify-content: flex-end;
  
  .btn {
    margin-left: 8px;
  }
}

input, select, textarea {
  font-size: 16px;
}

.avatar-icon {
  width: 3rem;
  font-size: 2rem;
}*/
