@import "colors";

.app {
  &__navbar {
    background-color: @main-theme-color;
    display: flex;

    &-title {
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 1.3rem;
      flex: 1 1 auto;
      white-space: nowrap;
    }
  }
}

.navbar-fixed {
  //margin-bottom: 20px; TODO: maybe?
  margin-bottom: 2px;

  .nav-wrapper {
    display: flex;

  }

  .nav-title {

    /*img {
      vertical-align: middle;
      margin-right: 10px;
      max-height: 44px;
      margin-top: -5px;
    }*/
  }
}

.side-nav {
  .user-profile {
    a {
      height: auto;
      padding: 16px;

      img {
        float: left;
        height: 48px;
        margin-right: 16px;
      }
    }
  }
}