<div class="navbar-fixed" [hidden]="isPlayingGame">
    <nav class="app__navbar">
        <a href="#" data-target="mobile-side-nav" class="sidenav-trigger app__navbar-menu-btn button-collapse">
            <i class="material-icons">menu</i>
        </a>

        <a href="#" class="app__navbar-offline" [hidden]="!isOffline">
            <i class="material-icons">signal_wifi_off</i>
        </a>

        <span class="app__navbar-title">{{pageTitle}}</span>

        <a *ngIf="!displayMenu" href="#" (click)="back()" class="app__navbar-back button-collapse">
            <i class="material-icons">arrow_back</i>
        </a>

        <a *ngIf="displayMenu" href="#!" (click)="home()" class="app__navbar-home">
            <img src="{{logoUrl}}"/>
        </a>

        <ul *ngIf="!isNewUser" class="app__navbar-menu right hide-on-med-and-down">
            <li routerLinkActive="active"><a routerLink="/leagues" href="#">Leagues</a></li>
            <li routerLinkActive="active"><a routerLink="/teams" href="#">Teams</a></li>
            <li routerLinkActive="active"><a routerLink="/players" href="#">Players</a></li>
            <li routerLinkActive="active"><a routerLink="/games" href="#">Games</a></li>
            <li *ngIf="isAuthenticated">
                <ul id="user-dropdown" class="dropdown-content">
                    <li><a href="#" routerLink="/">{{playerName}}</a></li>
                    <li><a href="#!" (click)="auth.logout()">Logout</a></li>
                </ul>

                <a class="dropdown-button" href="#!" data-activates="user-dropdown">{{playerName}}
                    <i class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li *ngIf="!isAuthenticated">
                <a href="#!" (click)="auth.login()">Login</a>
            </li>
        </ul>
    </nav>
</div>

<div class="container" id="page" [class.game-play]="isPlayingGame">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>

<ul *ngIf="!isNewUser" class="sidenav" id="mobile-side-nav">
    <ng-template [ngIf]="isAuthenticated">
        <li class="user-profile">
            <a href="#" class="sidenav-close right" (click)="closeNav()"><i class="material-icons right">close</i></a>
            <a href="#" routerLink="/">
                <img [src]="playerImage" alt="{{playerName}}" class="circle">
                <span>{{playerName}}</span>
            </a>
        </li>
        <li class="divider"></li>
    </ng-template>
    <li routerLinkActive="active"><a routerLink="/leagues" href="#">Leagues</a></li>
    <li routerLinkActive="active"><a routerLink="/teams" href="#">Teams</a></li>
    <li routerLinkActive="active"><a routerLink="/players" href="#">Players</a></li>
    <li routerLinkActive="active"><a routerLink="/games" href="#">Games</a></li>
    <li *ngIf="infoPages?.length > 0" class="divider"></li>
    <li *ngFor="let infoPage of infoPages" routerLinkActive="active"><a routerLink="/{{infoPage.name}}" href="#">{{infoPage.title}}</a></li>
    <li class="divider"></li>
    <ng-template [ngIf]="!isAuthenticated" class="nav navbar-nav pull-right">
        <li><a href="#!" (click)="auth.login()">Login</a></li>
    </ng-template>
    <ng-template [ngIf]="isAuthenticated">
        <li><a href="#!" (click)="auth.logout()">Logout</a></li>
    </ng-template>

</ul>