<div class="navbar-fixed" [hidden]="isPlayingGame">
    <nav class="app__navbar">

        <a *ngIf="topLevelPage" href="#" materialize="sideNav" [materializeParams]="[{closeOnClick: true}]"
           data-activates="mobile-side-nav" class="app__navbar-menu-btn button-collapse">
            <i class="material-icons">menu</i>
        </a>
        <a *ngIf="!topLevelPage" href="#" (click)="location.back()" class="app__navbar-back button-collapse">
            <i class="material-icons">arrow_back</i>
        </a>

        <a routerLink="/" href="#" class="app__navbar-title">
            <!--<img src="{{logoUrl}}" height="40px">-->
            {{pageTitle}}
        </a>

        <ul *ngIf="!auth.isNewUser()" class="app__navbar-menu right hide-on-med-and-down">
            <li routerLinkActive="active"><a routerLink="/leagues" href="#">Leagues</a></li>
            <li routerLinkActive="active"><a routerLink="/teams" href="#">Teams</a></li>
            <li routerLinkActive="active"><a routerLink="/players" href="#">Players</a></li>
            <li *ngIf="auth.isAuthenticated()">
                <ul id="user-dropdown" class="dropdown-content">
                    <li><a href="#" routerLink="/players/{{auth.getUser().playerName.toLowerCase()}}">{{auth.getUser().playerName}}</a></li>
                    <li><a href="#!" (click)="auth.logout()">Logout</a></li>
                </ul>

                <a class="dropdown-button" href="#!" data-activates="user-dropdown">{{auth.getUser().playerName}}
                    <i class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li *ngIf="!auth.isAuthenticated()">
                <a href="#!" (click)="auth.login()">Login</a>
            </li>
        </ul>
    </nav>
</div>

<div class="container" id="page">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>

<ul *ngIf="!auth.isNewUser()" class="side-nav" id="mobile-side-nav">
    <template [ngIf]="auth.isAuthenticated()">
        <li class="user-profile">
            <a href="#" routerLink="/players/{{auth.getUser().playerName}}">
                <img src="{{playerImage}}?size=48" alt="{{auth.getUser().playerName}}" class="circle">
                <span>{{auth.getUser().playerName}}</span>
            </a>
        </li>
        <li class="divider"></li>
    </template>
    <li><a routerLink="/" href="#">Home</a></li>
    <li routerLinkActive="active"><a routerLink="/leagues" href="#">Leagues</a></li>
    <li routerLinkActive="active"><a routerLink="/teams" href="#">Teams</a></li>
    <li routerLinkActive="active"><a routerLink="/players" href="#">Players</a></li>
    <li class="divider"></li>
    <template [ngIf]="!auth.isAuthenticated()" class="nav navbar-nav pull-right">
        <li><a href="#!" (click)="auth.login()">Login</a></li>
    </template>
    <template [ngIf]="auth.isAuthenticated()">
        <li><a href="#!" (click)="auth.logout()">Logout</a></li>
    </template>

</ul>