.navbar-fixed {
  margin-bottom: 20px;

  .button-back {
    float: left;
    position: relative;
    z-index: 1;
    margin: 0 18px;
  }

  .brand-logo {
    padding: 0 15px;

    img {
      vertical-align: middle;
      margin-right: 10px;
      max-height: 44px;
      margin-top: -5px;
    }
  }
}

.side-nav {
  .user-profile {
    padding-top: 20px;
    padding-bottom: 20px;

    span {
      margin-left: 10px;
    }
  }
}