<div class="navbar-fixed" [hidden]="isPlayingGame">
    <nav class="blue accent-2">
        <div class="nav-wrapper">
            <a href="#" (click)="location.back()" class="button-back hide-on-large-only"><i class="material-icons">arrow_back</i></a>

            <a routerLink="/" href="#" class="brand-logo"><img src="{{logoUrl}}" height="40px">Office League</a>

            <a href="#"
               materialize="sideNav"
               [materializeParams]="[{closeOnClick: true}]"
               data-activates="mobile-side-nav"
               class="button-collapse right">
                <i class="material-icons">menu</i>
            </a>

            <ul class="right hide-on-med-and-down">
                <li routerLinkActive="active"><a routerLink="/leagues" href="#">Leagues</a></li>
                <li routerLinkActive="active"><a routerLink="/teams" href="#">Teams</a></li>
                <li routerLinkActive="active"><a routerLink="/players" href="#">Players</a></li>
                <li *ngIf="auth.isAuthenticated()">
                    <ul id="user-dropdown" class="dropdown-content">
                        <li><a href="#" routerLink="/players/{{auth.getUser().playerName.toLowerCase()}}">{{auth.getUser().playerName}}</a></li>
                        <li><a href="#!" (click)="auth.logout()">Logout</a></li>
                    </ul>

                    <a class="dropdown-button" href="#!" data-activates="user-dropdown">{{auth.getUser().playerName}}
                        <i class="material-icons right">arrow_drop_down</i></a>
                </li>
                <li *ngIf="!auth.isAuthenticated()">
                    <a href="#!" (click)="auth.login()">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container" id="page">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>

<ul class="side-nav" id="mobile-side-nav">
    <template [ngIf]="auth.isAuthenticated()">
        <li class="user-profile"><a href="#" routerLink="/players/{{auth.getUser().playerName}}">
            <i class="material-icons medium">face</i>
            <span>{{auth.getUser().displayName}}</span>
        </a></li>
        <li class="divider"></li>
    </template>
    <li><a routerLink="/" href="#">Home</a></li>
    <li routerLinkActive="active"><a routerLink="/leagues" href="#">Leagues</a></li>
    <li routerLinkActive="active"><a routerLink="/teams" href="#">Teams</a></li>
    <li routerLinkActive="active"><a routerLink="/players" href="#">Players</a></li>
    <li class="divider"></li>
    <template [ngIf]="!auth.isAuthenticated()" class="nav navbar-nav pull-right">
        <li><a href="#!" (click)="auth.login()">Login</a></li>
    </template>
    <template [ngIf]="auth.isAuthenticated()">
        <li><a href="#!" (click)="auth.logout()">Logout</a></li>
    </template>

</ul>