<div class="home__background"></div>

<h1 class="col s12 m8 offset-m2 home__welcome" i18n="Welcome|Home screen welcome message">Welcome to<br/>
    <span class="home__title pink-text">Office League</span>
</h1>

<div class="col s12 m6 offset-m3 browser-default home__description">
    <p><span class="keynote pink-text text-accent-2">Play</span> your favourite office sports with your friends, co-workers or between organizations.</p>
    <p><span class="keynote pink-text text-accent-2">Create</span> leagues, join teams or play solo.</p>
    <p><span class="keynote pink-text text-accent-2">Track</span> statistics on players, teams and previous games.</p>
    <p><span class="keynote pink-text text-accent-2">Watch</span> games in real time.</p>
</div>

<footer class="container home__footer">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <button type="button" class="waves-effect waves-light btn-large pink home__browse" routerLink="/leagues"
                    i18n="Browse leagues|Home screen browse leagues button">Browse leagues
            </button>
            <button *ngIf="!auth.isAuthenticated()" type="button" class="btn-flat btn-large home__login" (click)="auth.login()">Sign in</button>
        </div>
    </div>
</footer>

