<ng-template [ngIf]="id == '' && !createMode">
    <loading></loading>
</ng-template>
<ng-template [ngIf]="id != '' || createMode">
    <div class="card edit-form">
        <div class="card-content">
            <span class="card-title">Edit team</span>
            <form [formGroup]="teamForm">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">fingerprint</i>
                        <input id="name" type="text" formControlName="name" name="name" [class.invalid]="!!formErrors.name"
                               autocomplete="off" [(ngModel)]="name"
                               (ngModelChange)="updatePageTitle($event)" required=""
                               aria-required="true">
                        <label [ngClass]="{'active': !!name}" for="name" [attr.data-error]="formErrors.name">Team Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">info_outline</i>
                        <textarea id="description" class="materialize-textarea" autocomplete="off" spellcheck="false" name="description"
                                  [(ngModel)]="description" formControlName="description"></textarea>
                        <label [ngClass]="{'active': !!description}" for="description">About</label>
                    </div>
                </div>
                <div class="row">
                    <ul class="collection list">
                        <li class="collection-header">
                            <i class="material-icons prefix team__players-titleicon">people</i>
                            <h6 class="team__players-title">Team Players</h6>
                        </li>
                        <li *ngFor="let player of players">
                            <player-summary [player]="player"></player-summary>
                        </li>
                    </ul>
                    <ng-template [ngIf]="createMode">
                        <button class="btn waves-effect waves-light grey darken-1" type="button" name="selectPlayer"
                                (click)="onSelectPlayerClicked()">
                            Select player
                        </button>
                    </ng-template>

                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix team__players-titleicon">image</i>
                        <h6 class="team__players-title">Team Logo</h6>

                        <input type="file" accept="image/*" #fileInput style="display:none;">
                        <div class="team-icon-frame">
                            <img [src]="imageUrl" alt="Team Image" class="team-icon preview"
                                 (click)="fileInput.click()">
                        </div>

                    </div>
                </div>
                <div class="row submit-row team-edit__submit-row">
                    <a class="waves-effect waves-teal btn red team-edit__btn team-edit__btn--cancel" (click)="onCancelClicked()">Cancel</a>
                    <a class="waves-effect waves-teal btn light-blue team-edit__btn--submit" [attr.disabled]="!online || !teamForm.valid ? true : null" (click)="onSaveClicked()">
                        Save</a>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<div class="modal center player-select-dialog" materialize="modal">
    <div class="modal-content">
        <h4 class="center">Select a player</h4>
        <player-select [playerIds]="possibleTeamMateIds" [materializeActions]="materializeActions" (playerSelected)="onPlayerSelected($event)"></player-select>
    </div>
</div>
