<ng-template [ngIf]="leagueForm == null">
    <loading></loading>
</ng-template>
<ng-template [ngIf]="leagueForm != null">
    <div class="card edit-form league-edit-create">
        <div class="card-content">
            <span class="card-title">{{ editMode ? 'Edit league' : 'Create league' }}</span>
            <form [formGroup]="leagueForm">
                <div class="row">
                    <div class="input-field">
                        <input id="name" type="text" formControlName="name" name="name" [class.invalid]="!!formErrors.name"
                               autocomplete="off"
                               [(ngModel)]="name" (ngModelChange)="updatePageTitle($event)"
                               required="" aria-required="true">
                        <label [ngClass]="{'active': !!name}" for="name" [attr.data-error]="formErrors.name">League Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input id="description" type="text" class="validate" autocomplete="off" name="description" [(ngModel)]="description"
                               formControlName="description">
                        <label [ngClass]="{'active': !!description}" for="description">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="">
                        <input type="file" accept="image/*" #fileInput style="display:none;">

                        <div class="league-icon-frame">
                            <img [src]="leagueImageUrl" alt="League Icon" class="league-icon preview league-edit-create__avatar"
                                 (click)="fileInput.click()">
                        </div>
                    </div>
                </div>

                <!-- Administrators Section -->
                <div class="row">
                    <div class="">
                        <label>Administrators</label>
                        <admin-list [admins]="admins" [pageCount]="1" hideSearchField="true" emptyMessage="No administrator selected"
                                    (removeAdmin)="onRemoveAdminClicked($event)"></admin-list>
                        <button mat-button color="primary" (click)="onAddAdminClicked()">Add admin</button>
                    </div>
                </div>

                <!-- Players Section (only if not in editMode) -->
                <ng-template [ngIf]="!editMode">
                    <div class="row">
                        <div class="">
                            <label>Players</label>
                            <admin-list [admins]="onlyPlayers" [pageCount]="1" hideSearchField="true" emptyMessage="No player selected"
                                        (removeAdmin)="onRemovePlayerClicked($event)"></admin-list>
                            <button mat-button color="primary" (click)="onAddPlayerClicked()">Add player</button>
                        </div>
                    </div>
                </ng-template>

                <fieldset>
                    <legend>Rules</legend>

                    <div class="row">
                        <div class="input-field">
                            <input id="pointsToWin" class="league-edit-create__rules--number" type="text" name="pointsToWin" autocomplete="off"
                                   formControlName="pointsToWin" [class.invalid]="!!formErrors.pointsToWin" [(ngModel)]="pointsToWin">
                            <label [ngClass]="{'active': !!pointsToWin}" for="pointsToWin" [attr.data-error]="formErrors.pointsToWin">Points to win</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <input id="minimumDifference" class="league-edit-create__rules--number" type="text" name="minimumDifference"
                                   autocomplete="off"
                                   formControlName="minimumDifference"
                                   [class.invalid]="!!formErrors.minimumDifference || leagueForm.hasError('lessthanpoints')"
                                   [(ngModel)]="minimumDifference">
                            <label [ngClass]="{'active': !!minimumDifference}" for="minimumDifference"
                                   [attr.data-error]="formErrors.minimumDifference"
                                   [attr.data-error]="leagueForm.hasError('lessthanpoints')? 'Minimum point difference must be less than points to win.': null">Minimum
                                point difference to win</label>
                        </div>
                    </div>

                    <div class="row">
                        <div>
                            <input id="halfTimeSwitch" type="checkbox" name="halfTimeSwitch" [(ngModel)]="halfTimeSwitch" [ngModelOptions]="{standalone: true}">
                            <label for="halfTimeSwitch">Switch player positions at half time</label>
                        </div>
                    </div>
                </fieldset>

                <!-- Submit/Cancel Buttons -->
                <div class="row submit-row league-edit-create__submit-row">
                    <button mat-button color="warn" (click)="onCancelClicked()">Cancel</button>
                    <button mat-button color="primary" [disabled]="!online || !leagueForm.valid || admins.length === 0"
                            (click)="editMode ? onUpdateClicked() : onCreateClicked()">
                        {{ editMode ? 'Save' : 'Create' }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
