img.league-icon {
  width: 64px;
  height: 64px;
}

.league-icon-frame {
  display: flex;
  padding: 6px;
  border: 1px solid rgba(58, 58, 58, 0.57);
  margin-left: 3rem;
  float: left;
}

.league {
  &__admins {

    &-title {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
    }

    &-titleicon {
      font-size: 2rem;
    }
    &-titletext {
      display: inline;
    }

    &-add {
      padding-top: 10px;
    }
  }
}

admin-list /deep/ .admin-list__item--empty {
    color: #F44336;
}