<template [ngIf]="leagueForm == null">
    <loading></loading>
</template>
<template [ngIf]="leagueForm != null">
    <div class="card edit-form league-edit-create">
        <div class="card-content">
            <template [ngIf]="editMode">
                <span class="card-title">Edit league</span>
            </template>
            <template [ngIf]="!editMode">
                <span class="card-title">Create league</span>
            </template>
            <form [formGroup]="leagueForm">
                <div class="row">
                    <div class="input-field">
                        <input id="name" type="text" formControlName="name" name="name" [class.invalid]="!!formErrors.name"
                               autocomplete="off"
                               [(ngModel)]="name" (ngModelChange)="updatePageTitle($event)"
                               required="" aria-required="true">
                        <label [ngClass]="{'active': !!name}" for="name" [attr.data-error]="formErrors.name">League Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input id="description" type="text" class="validate" autocomplete="off" name="description" [(ngModel)]="description"
                               formControlName="description">
                        <label [ngClass]="{'active': !!description}" for="description">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="">
                        <input type="file" accept="image/*" #fileInput style="display:none;">

                        <div class="league-icon-frame">
                            <img [src]="leagueImageUrl" alt="League Icon" class="league-icon preview league-edit-create__avatar"
                                 (click)="fileInput.click()">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="">
                        <label>Administrators</label>
                        <admin-list [admins]="admins" [pageCount]="1" hideSearchField="true"
                                    (removeAdmin)="onRemoveAdminClicked($event)"></admin-list>
                        <div class="league__admins-add">
                            <button class="btn global__btn-small waves-effect waves-light light-blue darken-3 right"
                                    (click)="onAddAdminClicked()">Add admin
                            </button>
                        </div>
                    </div>
                </div>
                <template [ngIf]="!editMode">
                    <div class="row">
                        <div class="">
                            <label>Players</label>
                            <admin-list [admins]="players" [pageCount]="1" hideSearchField="true"
                                        (removeAdmin)="onRemovePlayerClicked($event)"></admin-list>
                            <div class="league__admins-add">
                                <button class="btn global__btn-small waves-effect waves-light light-blue darken-3 right"
                                        (click)="onAddPlayerClicked()">Add player
                                </button>
                            </div>
                        </div>
                    </div>
                </template>
                <div class="row submit-row league-edit-create__submit-row">
                    <template [ngIf]="!editMode">
                        <a class="waves-effect waves-teal btn red league-edit-create__btn league-edit-create__btn--cancel" (click)="onCancelClicked()">Cancel</a>
                        <a class="waves-effect waves-teal btn light-blue league-edit-create__btn league-edit-create__btn--submit"
                           [attr.disabled]="!online||!leagueForm.valid||admins.length===0?true:null"
                           (click)="onCreateClicked()">Create</a>
                    </template>
                    <template [ngIf]="editMode">
                        <a class="waves-effect waves-teal btn red league-edit-create__btn league-edit-create__btn--cancel" (click)="onCancelClicked()">Cancel</a>
                        <a class="waves-effect waves-teal btn light-blue league-edit-create__btn league-edit-create__btn--submit"
                           [attr.disabled]="!online||!leagueForm.valid||admins.length===0?true:null" (click)="onUpdateClicked()">Save</a>
                    </template>

                </div>
            </form>
        </div>

        <div class="modal center player-select-modal" materialize="modal"
             [materializeParams]="[{dismissible: true, inDuration: 100, outDuration: 100}]" [materializeActions]="materializeActionsAdmin">
            <div class="modal-content">
                <h6 class="center">Select an admin to add</h6>
                <player-select [playerIds]="allPlayerIds" [excludedPlayerIds]="adminPlayerIds" [materializeActions]="materializeActionsAdmin"
                               (playerSelected)="onAdminSelected($event)"></player-select>
            </div>
        </div>

        <div class="modal center player-select-modal" materialize="modal"
             [materializeParams]="[{dismissible: true, inDuration: 100, outDuration: 100}]" [materializeActions]="materializeActionsPlayer">
            <div class="modal-content">
                <h6 class="center">Select a player to add</h6>
                <chips #addPlayerChips [availableTags]="allPlayerNames" [selectedTags]="playerNames" placeholder="Enter a player name or email"></chips>
                <div class="row submit-row">
                    <a class="waves-effect waves-teal btn green" [attr.disabled]="playerNames.length===0?true:null" (click)="onPlayersSelected()"><i class="material-icons left">add</i>Add</a>
                </div>
            </div>
        </div>
    </div>


</template>