<template [ngIf]="leagueForm == null">
    <loading></loading>
</template>
<template [ngIf]="leagueForm != null">
    <div class="card edit-form league-edit-create">
        <div class="card-content">
            <template [ngIf]="editMode">
                <span class="card-title">Edit league</span>
            </template>
            <template [ngIf]="!editMode">
                <span class="card-title">Create league</span>
            </template>
            <form [formGroup]="leagueForm">
                <div class="row">
                    <div class="input-field">
                        <input id="name" type="text" formControlName="name" name="name" [class.invalid]="!!formErrors.name"
                               autocomplete="off"
                               [(ngModel)]="name" (ngModelChange)="updatePageTitle($event)"
                               required="" aria-required="true">
                        <label [ngClass]="{'active': !!name}" for="name" [attr.data-error]="formErrors.name">League Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input id="description" type="text" class="validate" autocomplete="off" name="description" [(ngModel)]="description"
                               formControlName="description">
                        <label [ngClass]="{'active': !!description}" for="description">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="">
                        <input type="file" accept="image/*" #fileInput style="display:none;">

                        <div class="league-icon-frame">
                            <img [src]="leagueImageUrl" alt="League Icon" class="league-icon preview league-edit-create__avatar"
                                 (click)="fileInput.click()">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=""><!--
                        <div class="league__admins-title">
                            <h6 class="league__admins-titletext"> Administrators</h6>
                        </div>-->
                        <label>Administrators</label>
                        <admin-list [admins]="admins" [pageCount]="1" hideSearchField="true"
                                    (removeAdmin)="onRemoveAdminClicked($event)"></admin-list>
                        <div class="league__admins-add">
                            <button class="btn global__btn-small waves-effect waves-light light-blue darken-3 right"
                                    (click)="onAddAdminClicked()">Add admin
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row submit-row league-edit-create__submit-row">
                    <template [ngIf]="!editMode">
                        <a class="waves-effect waves-teal btn light-blue"
                           [attr.disabled]="!leagueForm.valid||admins.length===0?true:null"
                           (click)="onCreateClicked()">Create league</a>
                    </template>
                    <template [ngIf]="editMode">
                        <a class="waves-effect waves-teal btn light-blue"
                           [attr.disabled]="!leagueForm.valid||admins.length===0?true:null" (click)="onUpdateClicked()">Save league</a>
                    </template>

                </div>
            </form>
        </div>
    </div>

    <div class="modal center player-select-modal" materialize="modal"
         [materializeParams]="[{dismissible: true, inDuration: 100, outDuration: 100}]" [materializeActions]="materializeActions">
        <div class="modal-content">
            <h4 class="center">Select an admin to add</h4>
            <player-select [playerIds]="allPlayerIds" [excludedPlayerIds]="adminPlayerIds" [materializeActions]="materializeActions"
                           (playerSelected)="onAdminSelected($event)"></player-select>
        </div>
    </div>

</template>