<div class="col s12">
    <mat-tab-group mat-stretch-tabs *ngIf="authService.isAuthenticated()" backgroundColor="primary">
        <mat-tab label="My Leagues">
            <league-list [leagues]="myLeagues" class="no-margin"></league-list>
        </mat-tab>
        <mat-tab label="Discover">
            <league-list [leagues]="discoverLeagues" class="no-margin"></league-list>
        </mat-tab>
    </mat-tab-group>
</div>
<div class="fixed-action-btn" *ngIf="authService.isAuthenticated()">
    <button mat-fab color="primary" routerLink="/league-create" [disabled]="!online">
        <mat-icon>add</mat-icon>
    </button>
</div>
