<template [ngIf]="team == null">
    <h4>Loading...</h4>
</template>
<template [ngIf]="team != null">

    <rating class="right" [rating]="team.rating" [previousRating]="team.previousRating"></rating>

    <span *ngIf="index != undefined" class="index">{{index}}</span>

    <img src="{{team.imageUrl}}?size=42" alt="{{team.name}}" class="circle">
    <span class="title">{{team.name}}</span>
    <p *ngIf="team.players">
        <span *ngFor="let player of team.players; let isLast = last">{{player.name}}{{!isLast ? ' + ' : ''}}</span>
    </p>
    <div *ngIf="ranking > 0" class="chip right blue lighten-2 white-text" title="{{rating}}">{{rankingText()}}</div>

</template>
