<ng-template [ngIf]="team == null">
    <loading></loading>
</ng-template>
<ng-template [ngIf]="team != null">
    <div class="team-summary">
        <div class="team-summary__ranking" *ngIf="ranking > 0">{{ranking}}</div>
        <img src="{{team.imageUrl}}?size=42" alt="{{team.name}}" class="team-summary__avatar">
        <div class="team-summary__name">{{team.name}}</div>
        <div class="team-summary__rating" *ngIf="rating > 0">{{ratingPoints()}}</div>
        <!--<img src="{{team.imageUrl}}?size=42" alt="{{team.name}}" class="circle">
        <div class="primary">
            <span class="title">{{team.name}}</span>
            <p *ngIf="team.players" class="grey-text darken-3">
                <span *ngFor="let player of team.players; let isLast = last">{{player.name}}{{!isLast ? ' & ' : ''}}</span>
            </p>
        </div>
        <div class="secondary" *ngIf="ranking > 0">
            <div class="badges-container">
                <span class="badge light-blue darken-4 white-text">{{ranking}}<small>{{rankingText()}}</small></span>
                <span class="badge grey darken-1 white-text"><small class="rating-points">{{ratingPoints()}}</small></span>
            </div>
        </div>-->
    </div>

</ng-template>
