<ul class="collection list" [class.with-header]="!!title">
    <li *ngIf="title" class="collection-header"><h4>{{title}}</h4></li>
    <li href="#!" class="collection-item avatar" *ngFor="let player of players;" (click)="onPlayerClicked(player)">
        <player-summary [player]="player" ></player-summary>
    </li>
    <li *ngIf="players?.length == 0" class="collection-item empty">
        <h5>No players</h5>
    </li>
    <li *ngIf="players?.length > 0 && this.detailsPath"  href="#!" class="collection-item empty" (click)="onDetailsClicked()">
        <h5>See more</h5>
    </li>
</ul>
