<div class="input-field col s12">
    <i class="material-icons prefix">search</i>
    <input [(ngModel)]="searchValue" (input)="onSearchFieldModified()" id="searchField" type="text">
    <label for="searchField">Search</label>
</div>
<ul class="collection list" [class.with-header]="!!title">
    <li *ngIf="title" class="collection-header"><h4>{{title}}</h4></li>
    <li href="#!" class="collection-item avatar" *ngFor="let player of players;" (click)="onPlayerClicked(player)">
        <player-summary [player]="player"></player-summary>
    </li>
    <li *ngIf="players?.length == 0" class="collection-item empty">
        <h5>No players</h5>
    </li>
    <li *ngIf="players?.length > 0">
        <ul class="pagination center">
            <li [class.disabled]="currentPage === 1" class="waves-effect"><a (click)="setCurrentPage(currentPage - 1)"><i class="material-icons">chevron_left</i></a></li>
            <li *ngFor="let page of pages;" [class.active]="page === currentPage" class="waves-effect"><a (click)="setCurrentPage(page)">{{page}}</a></li>
            <li [class.disabled]="currentPage === pages.length" class="waves-effect"><a (click)="setCurrentPage(currentPage + 1)"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </li>
</ul>
