<ul class="collection list" [class.indexed]="indexed" [class.with-header]="!!title">
    <li *ngIf="title" class="collection-header"><h4>{{title}}</h4></li>
    <li href="#!" class="collection-item avatar" *ngFor="let player of players; let i = index;" (click)="onPlayerClicked(player.name)">
        <player-summary [player]="player" [index]="indexed ? i + 1 : undefined"></player-summary>
    </li>
    <li *ngIf="players?.length == 0" class="collection-item empty">
        <h5>No players</h5>
    </li>
</ul>
